<div class="CenterNav">
  <h2 class="b-head">Manage Approve Requests</h2>
  <div id="div_ajax" >
    <%if @resource_transportation_bookings && !@resource_transportation_bookings.empty?%>
      <%  @resource_transportation_bookings.each do |resource_transportation_booking|%>
        <div class="manage-user box">
          <div class="manage-user-row box">
            <div class="mu-c1">
            </div>
            <div class="mu-c2">
              <p class="head1"><b>Purpose :<%= resource_transportation_booking.purpose%></b></p>
              <p class="head1"><b>Pick up :<%= resource_transportation_booking.pick_up_place%><b/></p>
              <p class="head1"><b>Destination :<%= resource_transportation_booking.location%><b/></p>
              <p class="head1"><b>Car Type :<%= resource_transportation_booking.vehicle_type.name %><b/></p>
              <p class="head1"><b>No of Passengers:<%= resource_transportation_booking.number_of_passengers%><b/></p>
              <p class="head1"><b>From Date:<%= resource_transportation_booking.requested_from_date.strftime("%d-%m-%Y")%><b/></p>
              <p class="head1"><b>To Date:<%= resource_transportation_booking.requested_to_date.strftime("%d-%m-%Y")%><b/></p>
            </div>
            <div class="form-sec-row">
              <span class="in-box btn2 in-btn2">
                <%= "#{resource_transportation_booking.status}" %>
              </span>
            </div>
            <div class="form-sec-row">
              <span class="in-box">
                <% if current_user && (current_user.is_super_admin? || current_user.is_resource_manager?) %>
                  <%= link_to "See Request Details",resource_transportation_booking_path(:id=>resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                <%end%>
              </span>
            </div>
          </div>

        </div>
      <%end%><div class="manage-user-rows box"><br/><br/>
  <%#= paginate @resource_transportation_bookings %></div>
      <%else%>
      No New Requests
    <%end%>
<%#*<div><%= paginate @units %>
  </div>
</div>