<div class="CenterNav">
  <h2 class="b-head">Manage Approve Requests</h2>
  <div id="div_ajax" >
    <%if @resource_transportation_bookings && !@resource_transportation_bookings.empty?%>
      <%  @resource_transportation_bookings.each do |resource_transportation_booking|%>
        <div class="manage-user box">
          <div class="manage-user-row box">
            <div class="mu-c1">
            </div>
            <div class="mu-c2">
              <p class="head1">Purpose :<%= resource_transportation_booking.purpose%></p>
              <p class="head1">Pick up :<%= resource_transportation_booking.pick_up_place%></p>
              <p class="head1">Destination :<%= resource_transportation_booking.location%></p>
              <p class="head1">Car Type :<%= resource_transportation_booking.resource.name %></p>
              <p class="head1">No of Passengers:<%= resource_transportation_booking.number_of_passengers%></p>
              <p class="head1">From Date:<%= resource_transportation_booking.requested_from_date.strftime("%d-%m-%Y")%></p>
              <p class="head1">To Date:<%= resource_transportation_booking.requested_to_date.strftime("%d-%m-%Y")%></p>
            </div>
            <div class="form-sec-row">
              <span class="in-box btn2 in-btn2">
                <%= "#{resource_transportation_booking.status}" %>
              </span>
            </div>
            <div class="form-sec-row">
              <span class="in-box">
                <%= link_to "See Request Details",resource_transportation_booking_path(:id=>resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
              </span>
            </div>
          </div>

        </div>
      <%end%><div class="manage-user-rows box"><br/><br/>
  <%#= paginate @resource_transportation_bookings %></div>
      <%else%>
      No Resource Transportation Booking Available
    <%end%>
<%#*<div><%= paginate @units %>
  </div>
</div>