
<tr>
  <td><b><%=t('labels.vehicle_model')%></b></td>
  <td><b><%= @resource.vehicle_model %></b></td>
</tr>

<tr>
  <td><b><%=t('left_nav.driver_name')%></b></td>
  <td><b><%= @driver.name %></b></td>
</tr>
<tr>
  <td><b><%=t('labels.driver_telephone')%></b></td>
  <td>
    <b><%= @driver.telephone_number %></b></td>
</tr>


