<div class="form-sec-row">
	<label class="text"><%= t('labels.vehicle_model')%></label>
	<span class="in-box"><%= @resource.vehicle_model %></span>
</div>

<div class="form-sec-row">
	<label class="text"><%= t('left_nav.driver_name')%></label>
	<span class="in-box"><%= @driver.name %></span>
</div>

<div class="form-sec-row">
	<label class="text"><%= t('labels.driver_telephone')%></label>
	<span class="in-box"><%= @driver.telephone_number %></span>
</div>


