<div class="CenterNav">
  <h2 class="b-head">Resource Transport Approval List</h2>
  <div id="div_ajax" >
    <%if @resource_transportation_bookings && !@resource_transportation_bookings.empty?%>
      <%  @resource_transportation_bookings.each do |resource_transportation_booking|%>
        <div class="manage-user box">
          <div id="user_box_<%= resource_transportation_booking.id %>" class="manage-user-row box">
            <div class="mu-c1">
            </div>
            <div class="mu-c2">
              <p class="head1"><b>Purpose :<%= resource_transportation_booking.purpose%></b></p>
              <p class="head1"><b>Pick up :<%= resource_transportation_booking.pick_up_place%><b/></p>
              <p class="head1"><b>Destination :<%= resource_transportation_booking.location%><b/></p>
              <p class="head1"><b>Car Type :<%= resource_transportation_booking.sub_category.name %><b/></p>
              <p class="head1"><b>No of Passengers:<%= resource_transportation_booking.number_of_passengers%><b/></p>
              <p class="head1"><b>From Date:<%= resource_transportation_booking.requested_from_date.strftime("%d - %m - %Y") %><b/></p>
              <p class="head1"><b>To Date:<%= resource_transportation_booking.requested_to_date.strftime("%d - %m - %Y") %><b/></p>
            </div>
            <div class="form-sec-row">
              <b><%= "#{resource_transportation_booking.status}" %></b>
            </div>
            <div class="form-sec-row">
              <span class="in-box">
                <% if current_user && (current_user.is_super_admin? || current_user.is_resource_manager?) %>
                  <% if resource_transportation_booking.status == "New" %>
                    <%= link_to "Approve Request",request_view_resource_transportation_bookings_path(:id=>resource_transportation_booking.id) %>
                  <%else%>
                    <% if resource_transportation_booking.status == "Approved" %>
                      <%= link_to "Process Request", request_view_resource_transportation_bookings_path(:id=>resource_transportation_booking.id) if current_user.is_resource_manager? %><br/><br/>
                    <% elsif (resource_transportation_booking.status == "Processed" && resource_transportation_booking.resource_returned_from_user?) %>
                      <%= link_to "Return Request", request_view_resource_transportation_bookings_path(:id=>resource_transportation_booking.id) if current_user.is_resource_manager? %><br/><br/>
                    <%end%>
                    <%= link_to "Request Details", resource_transportation_booking_path(resource_transportation_booking) %>
                  <%end%>
                <%end%>

                <% if (resource_transportation_booking.requester_id.to_i == current_user.id && resource_transportation_booking.status=="Processed") %>
                  <% if (!resource_transportation_booking.resource_returned_from_user?) %>
                    <%= check_box_tag("is_returned","is_returned",false,:onclick=> "change_status(#{resource_transportation_booking.id})") %>
                    <label class="text">If Resource Returned ?</label><br/><br/>
                  <%else%>
                    <b><%= 'You have Successfully Returned the Resource' %></b><br /><br />
                  <%end%>
                <%end%>

                <% if (resource_transportation_booking.requester_id.to_i == current_user.id) %>
                  <%= link_to "Request Details", resource_transportation_booking_path(resource_transportation_booking) %>
                <%end%>

              </span>
            </div>
          </div>
        </div>
      <%end%>
      <div class="manage-user-rows box"><br/><br/>
      </div>
    <%else%>
      No Resource Booking done
    <%end%>
  </div>
</div>
