<%= form_for(@resource_transportation_booking, :url=>cancel_transport_request_resource_transportation_bookings_path) do |f| %>
<div class="CenterNav">
	<div class="form-sec">
		<h2 class="b-head"><%= t('labels.trans_req_details')%></h2>

		<font color="#369" size="3">
			<br/>
			<b><u><%= t('labels.user_details') %>:-</u>
			<br/>
			<br/>
			</b></font>
		<%= hidden_field_tag :resource_transport_id,(@resource_transportation_booking.id)  %>
		<% if !@requester.is_super_admin? %>
		<div class="form-sec-row">
			<label class="text"><%= t('labels.agency_name')%></label>
			<span class="in-box"><%= Department.find_by_id(current_department).agency.name.upcase %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.department_name')%></label>
			<span class="in-box"><%= Department.find_by_id(current_department).name.upcase %></span>
		</div>
		<%end%>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.first_name')%></label>
			<span class="in-box"><%= @requester.first_name %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.last_name')%></label>
			<span class="in-box"><%= @requester.last_name %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.ic_no')%></label>
			<span class="in-box"> <%= @requester.ic_number %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.email')%></label>
			<span class="in-box"> <%= @requester.email %></span>
		</div>

		<h2 class="b-head"></h2>
		<font color="#369" size="3">
			<br/>
			<b><u><%= t('labels.transport_details') %>:-</u>
			<br/>
			<br/>
			</b></font>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.ticket_no')%></label>
			<span class="in-box"><font color="red"><b>&nbsp;<%= @resource_transportation_booking.id %>/<%= Time.now.year%></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.date_of_app')%></label>
			<span class="in-box"><%= @resource_transportation_booking.created_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.purpose')%></label>
			<span class="in-box"> <%= @resource_transportation_booking.purpose%></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.pick_up_place')%></label>
			<span class="in-box"> <%= @resource_transportation_booking.pick_up_place %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.destination_location')%></label>
			<span class="in-box"> <%= @resource_transportation_booking.location %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.destination_state')%></label>
			<span class="in-box"> <%= State.find(@resource_transportation_booking.state).name %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.from_date')%></label>
			<span class="in-box"><%= @resource_transportation_booking.requested_from_date.strftime("%d-%m-%Y %H:%M %p") %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.to_date')%></label>
			<span class="in-box"><%= @resource_transportation_booking.requested_to_date.strftime("%d-%m-%Y %H:%M %p") %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.no_of_passengers')%></label>
			<span class="in-box"><%= @resource_transportation_booking.number_of_passengers %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.remarks')%></label>
			<span class="in-box"><%= @resource_transportation_booking.remarks %></span>
		</div>

		<% if @resource_transportation_booking.attachment.present? %>
		<div class="form-sec-row">
			<label class="text"><%= t('labels.attachment')%></label>
			<% file = (@resource_transportation_booking.attachment).url(:profile).split("/").last %>
			<span class="in-box"><%= link_to image_tag(@resource_transportation_booking.attachment.url(:profile),:title=>@resource_transportation_booking.attachment), download_attachments_resource_transportation_bookings_path(:id=>@resource_transportation_booking.id) if @resource_transportation_booking.attachment?  %></span>
		</div>
		<% end %>

		<h2 class="b-head"></h2>
		<font color="#369" size="3">
			<br/>
			<b><u><%= t('labels.vehicle_details') %>:-</u>
			<br/>
			<br/>
			</b></font>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.status')%></label>
			<span class="in-box" style="color :<%= (@resource_transportation_booking.status == 'New') ? '#FFA500' : ((@resource_transportation_booking.status == 'Approved' || @resource_transportation_booking.status == 'Processed') ? '#329C20' : 'red' )%>"> <td>&nbsp;<b><%= @resource_transportation_booking.status %></b></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.vehicle_type')%></label>
			<span class="in-box"><%= @resource_transportation_booking.sub_category.name %></span>
		</div>

		<% if (@resource_transportation_booking.status == 'Approved' || @resource_transportation_booking.status == 'Processed' || @resource_transportation_booking.status == 'Returned') %>
		<% vehicle = Resource.find(@resource_transportation_booking.agency_store.resource_id) %>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.vehicle_model')%></label>
			<span class="in-box"><%= vehicle.vehicle_model %></span>
		</div>

		<div class="form-sec-row">
			<label class="text"><%= t('labels.vehicle_registration')%></label>
			<span class="in-box"><%= vehicle.resource_no %></span>
		</div>

		<% if @resource_transportation_booking.driver_id.present? %>
		<% driver = Driver.find(@resource_transportation_booking.driver_id) %>
		<div class="form-sec-row">
			<label class="text"><%= t('left_nav.driver_name')%></label>
			<span class="in-box"><%= driver.name %></span>
		</div>
		<div class="form-sec-row">
			<label class="text"><%= t('labels.driver_telephone')%></label>
			<span class="in-box"><%= driver.telephone_number %></span>
		</div>
		<%end%>
		<%end%>

		<div class="form-sec-row2">
			<label class="text">&nbsp;</label>
			<span class="in-box2"> <%= link_to t('labels.back'), :back, :class=>"btn1 mr2"%>
				<% if @resource_transportation_booking.status == 'New'%>
				<%= f.submit :value=> "Cancel", :class=>"btn2", :confirm => 'Do you want to cancel the Request?'%>
				<%end%></span>
		</div>

	</div>
</div>
<%end%>
