<div class="CenterNav">
  <h2 class="b-head">Change Booking Status</h2>
  <%= form_tag :controller=>"resource_transportation_bookings",:action=>"change_resource_status" do %>
    <div class="form-sec-row">
      <%= label :remarks,raw("Date of Application"), :class=>"text"%>
      <span class="in-box">
        <%= @resource_transportation_booking.created_at.strftime("%dth %B %Y %l:%M:%S %p") %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Name"), :class=>"text"%>
      <span class="in-box">
        <%= @requester.full_name %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Department"), :class=>"text"%>
      <span class="in-box">
        <% if !@requester.departments.empty? %><%= @requester.departments[0].name%><%else%>NA<%end%></span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Date is Expected to Borrow"), :class=>"text"%>
      <span class="in-box">
        <%= @resource_transportation_booking.requested_from_date.strftime("%dth %B %Y %l:%M:%S %p") %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Date is Expected to Return"), :class=>"text"%>
      <span class="in-box">
        <%= @resource_transportation_booking.requested_to_date.strftime("%dth %B %Y %l:%M:%S %p") %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Purpose"), :class=>"text"%>
      <span class="in-box">
        <%= @resource_transportation_booking.purpose %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Pick up place"), :class=>"text"%>
      <span class="in-box">
        <%= @resource_transportation_booking.pick_up_place %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Destination"), :class=>"text"%>
      <span class="in-box">
        <%= @resource_transportation_booking.location %><br/>
  <%#= @resource_transportation_booking.state %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Number of Passengers"), :class=>"text"%>
      <span class="in-box">
        <%= @resource_transportation_booking.number_of_passengers %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Vehicle Type"), :class=>"text"%>
      <span class="in-box">
        <%= @resource_transportation_booking.resource.name %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label :remarks,raw("Status"), :class=>"text"%>
      <span class="in-box">
        <%= select_tag :approve_status,"<option>New</option><option>Approved</option><option>Declined</option><option>Processed</option>".html_safe %>
      </span>
    </div>
    <%= hidden_field_tag :id, @resource_transportation_booking.id  %>
    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= submit_tag "Submit",:class=>"btn2 in-btn2" %>
      </span>
    </div>
  <%end%>
</div>