<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intranet Portal Melaka State Government</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" /><![endif]-->

    <!--BANNER SLIDESHOW-->
    <link href="../stylesheets/global.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="../javascripts/slides.min.jquery.js" type="text/javascript"></script>
    <script src="../javascripts/slide.js" type="text/javascript"></script>
    <!--WATERMARK-->
    <script type="text/javascript" src="../javascripts/ui.core.js"></script>
    <script type="text/javascript" src="../javascripts/ui.watermark.js"></script>
    <script type="text/javascript">
      $(function() {
        $("input").watermark({
          placeholder: function() {
            return $(".formRow label[for=" + this.id + "]").hide().text();
          }
        });
      });
    </script>
    <!--HEADER DROPDOWN-->
    <script type="text/javascript" language="javascript" src="../javascripts/jquery.dropdownPlain.js"></script>
    <link rel="stylesheet" href="../stylesheets/style_dropdown.css" type="text/css" media="screen, projection"/>

  </head>
  
  <body>

    <div class="container">
      <!--HEADER START-->
      <div id="Header">
        <div class="header-right">
          <div class="language">
            <span href="#" class="eng selected"><img src="../images/flag_english.png" alt="English" width="16" height="11" /></span>
            <a href="#" title="Malay" class="mal"><img src="../images/flag_melaka.png" alt="Malay" width="16" height="11" /></a>
          </div>
          <ul class="globe-menu1 dropdown">
            <li><a href="#" title="Melaka Info">Melaka Info</a>
              <ul>
                <li><a href="#" title="">Primary link1</a></li>
                <li><a href="#" title="">Primary link2</a></li>
                <li><a href="#" title="">Primary link3</a></li>
                <li><a href="#" title="">Primary link4</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="logo"><a href="#" title="Intranet Portal Melaka State Government">Intranet Portal Melaka State Government</a></div>
      </div>
      <div class="clear"></div>
      <!--HEADER END-->

      <!--BODY START-->
      <div class="landing-con">
        <div class="banner">
          <span class="cor-tl"></span>
          <span class="cor-tr"></span>
          <span class="cor-bl"></span>
          <span class="cor-br"></span>
          <div id="slides">
            <div class="slides_container">
              <div class="slide">
                <img src="../images/banner1.png" alt="Image" width="390" height="340" />
              </div>
              <div class="slide">
                <img src="../images/banner2.jpg" alt="Image" width="390" height="340" />
              </div>
              <div class="slide">
                <img src="../images/banner3.jpg" alt="Image" width="390" height="340" />
              </div>
              <div class="slide">
                <img src="../images/banner4.jpg" alt="Image" width="390" height="340" />
              </div>
              <div class="slide">
                <img src="../images/banner5.jpg" alt="Image" width="390" height="340" />
              </div>
            </div>
          </div>
        </div>
        <div class="login-ban">
          <div class="ban-tr">
            <div class="ban-tl"></div>
            <div class="ban-tc"></div>
          </div>
          <div class="ban-m">
            <h1>Welcome to Melaka Intranet Portal</h1>
            <h3>" The Corridor for Effective Communication "</h3>
            <div class="footer-land">
              <font color = 'red'><p class="notice"><%= notice %></p>
             <!-- <p class="alert"><%= alert %></p>
              <p class="formRow t-left">-->
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                  <%#= f.label :User, :class=> "ui-watermark-label-pass"%>
                  <span class="shadow-input" >
                    <%= f.text_field :ic_number, :name=> "user[ic_number]",:id=>"user_ic_number",:type=>"text"%></span>
                  <%#= f.label :password, :class=> "ui-watermark-label-pass"%>
                  <span class="shadow-input" >
                    <%= f.password_field :password, :name=> "user[password]",:id=>"user_password",:type=>"password"%></span>
                  <!--<% if devise_mapping.rememberable? -%>
                    <div><%= f.check_box :remember_me, :id=>"logged", :class=>"loggedin" %> <%#= f.label :remember_me %></div>
                  <% end -%>-->
                  <div><%= f.submit "Log in", :class => "btn1", :name => "login" %></div>
                <%end%>
                  
              </p>
              <%#*<input type="submit" class="btn1" value="Log In" title="Log In" name="login">%>
                <div class="clear"></div>
                <%#*<p class="loggedin">%>
                  <%#*<input type="checkbox" id="logged" />%>
                  <%#*<label for="logged">Keep me logged in</label>%>
                <%#*</p>%>
                <p class="forgot-row"><a href="#" title="Forgot your password?">Forgot your password?</a></p>
            </div>
          </div>

        </div>
      </div>
      <div class="clear"></div>
      <div class="footer-in">
        <div class="land-footer-r">Copyright &copy; 2012 Melaka</div>
        Designed &amp; Developed by <a href="http://www.openwavecomp.com/" title="Openwave Computing" target="_blank">Openwave Computing.</a>
        <div class="land-footer-l">
          <ul>
            <li><a href="#" title="Feedback">Feedback</a></li>
            <li>-</li>
            <li><a href="#" title="Privacy">Privacy</a></li>
            <li>-</li>
            <li><a href="#" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
            <li>-</li>
            <li><a href="#" title="Help">Help</a></li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <!--BODY END-->

    </div>
  </body>
</html>


