<% @feeds = current_user.activity_feeds.order("created_at DESC") %>
  <h3> Recent Activity</h3>
  <% if @feeds.blank? %>
    <p> No recent activities.</p>
  <% else %>
    <% previous_date = "nothing" %>
    <% @feeds[0,10].each do |f| %>
      <% if not (previous_date == f.created_at.strftime("%d-%b-%Y")) %>
        <%= f.created_at.strftime("%d") %>
        <br>
        <%= f.created_at.strftime("%b") %>
        <strong> #{f.created_at.strftime("%H:%M %p")}
        <%= render :partial => f.template, :locals => f.locals %>
        <% previous_date = f.created_at.strftime("%d-%b-%Y") %>
      <% if (@feeds.length > 10) %>
        <%= link_to "More >>", "/feeds" %> 
      <% if false %>
        <ul>
          <% last_date = "nothing" %>
          <% @feeds[0,10].each do |f| %>
            <li>
            <% if not (f.created_at.strftime("%d-%b-%y") == last_date) %>
              <strong> #{f.created_at.strftime("%d-%b")}
              <strong> #{f.created_at.strftime("%H:%M %p")}
            <%= render :partial => f.template, :locals => f.locals %>
            <% last_date = f.created_at.strftime("%d-%b-%y") %>
            <br>

