<div class="CenterNav">
  <h2 class="b-head"><%=t('labels.list_facility_ict_hardware1')%></h2>
  <div class="create-user">
    <div class="cu-c1">
      <a href="/ict_network_points/list_to_select_ict" title=<%=t('labels.create_req_for_ict')%>><img src="../images/add_user.jpg" width="17" height="16" alt="img" /> <%=t('labels.create_req_for_ict')%></a></div>
  </div>
  <div class="manage-user box">
    <%if !@ict_hardware_bookings.nil?%>
      <%@ict_hardware_bookings.each do |booking|%>
        <div class="manage-user-row box">
          <div class="form-sec-row">
            <label class="text"><%=t('labels.name')%></label>
            <span class="in-box">
              <%= booking.booker.username%>
            </span>
          </div>
          <div class="form-sec-row">
            <label class="text"><%=t('labels.type_of_facility')%></label>
            <span class="in-box">
              <%= booking.facility_ict.name%>
            </span>
          </div>
          <div class="form-sec-row">
            <label class="text"><%=t('labels.ticket_no')%></label>
            <span class="in-box">
              <b style="color:red;"><%=booking.id%>/<%=Time.now.year%></b>
            </span>
          </div>
          <div class="form-sec-row">
            <label class="text"><%=t('labels.date_of_app')%></label>
            <span class="in-box">
              <%= booking.created_at.strftime("%d %b %Y, %I:%M:%S %p")%>
            </span>
          </div>
          <table>
            <tr>
              <td class="form-sec-row"><label class="text"><%=t('labels.name')%></label></td>
              <td class="form-sec-row"><label class="text"><%=t('labels.requested_type')%></label></td>
              <td class="form-sec-row"><label class="text">Hardware Required</label></td>
              <td class="form-sec-row"><label class="text">Status</label></td>
            </tr>
            <%booking.ict_hardware_booked_users.each do |requested_user|%>
              <tr>
                <td> <%=requested_user.user.full_name%></td>
                <td> <%=requested_user.is_replacement? ? "Replacement" : "New"%></td>
                <td>
                  <%hardware = []%>
                  <%hardware << (requested_user.pc ? "PC" : nil)%>
                  <%hardware << (requested_user.printer ? "Printer" : nil)%>
                  <%hardware << (requested_user.scanner ? "Scanner" : nil)%>
                  <% hardware.compact!%>
                  <%= hardware.join(",").to_s %>
                </td>
                <td>
                  <span class="in-box">
				  <% if requested_user.status == "New"%><b><font color='#FFA500'><%= "#{requested_user.status}" %></font></b><% elsif requested_user.status == "Approved" %><b><font color='#329C20'><%= "#{requested_user.status}" %> </font></b><% elsif requested_user.status == "Processed"  %><b><font color='#329C20'><%= "Completed" %> </font></b><% elsif requested_user.status == "Declined" || requested_user.status == "Returned"  %> <b><font color='red'><%= "#{requested_user.status}" %> </font></b><% end %>
                  </span>
                </td>
              </tr>
            <%end%>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><%= link_to t('labels.show_info'),ict_hardware_booking_path(:id => booking.id), :method=>:get%></td>
              </tr>
          </table>
          
        </div>
        <div class="clear"></div>
      <%end%>
      <div class="manage-user-rows box"><br/><br/>
        <%= paginate @ict_hardware_bookings %>
      </div>
    <%else%>
      <%=t('labels.no_data_available')%>
    <%end%>
  </div>
</div>
