<div class="CenterNav">
  <h2 class="b-head"><%=t('labels.list_facility_ict_hardware')%></h2>
  <div class="manage-user box">
    <%if @ict_hardware_booking%>
  <%#@ict_hardware_booking.each do |booking|%>
      <div class="manage-user-row box">
        <div class="form-sec-row">
          <label class="text"><%=t('labels.name')%></label>
          <span class="in-box">
            <%= @ict_hardware_booking.booker.full_name%>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.ic_no')%></label>
          <span class="in-box">
            <%= @ict_hardware_booking.booker.ic_number%>
          </span>
        </div>
        <%department=Department.find(@current_department)%>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.agency')%></label>
          <span class="in-box">
            <%= department.agency.name%>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.department')%></label>
          <span class="in-box">

            <%= department.name%>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.type_of_facility')%></label>
          <span class="in-box">
            <%= @ict_hardware_booking.facility_ict.name%>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.ticket_no')%></label>
          <span class="in-box">
            <b style="color:red;">
              <%=@ict_hardware_booking.id%>/<%=Time.now.year%>
            </b>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.date_of_app')%></label>
          <span class="in-box"><%=@ict_hardware_booking.created_at.strftime("%d %b %Y, %I:%M:%S %p")%></span>
        </div>
        <%@ict_hardware_booking.ict_hardware_booked_users.each do |requested_user|%>
          <table>
            <tr>
              <td class="form-sec-row"><label class="text"><%=t('labels.name')%></label></td>
              <td class="form-sec-row"><label class="text"><%=t('labels.requested_type')%></label></td>
              <td class="form-sec-row"><label class="text">Hardware Required</label></td>
              <td class="form-sec-row"><label class="text">Status</label></td>
            </tr>
            <%@ict_hardware_booking.ict_hardware_booked_users.each do |requested_user|%>
              <tr>
                <td> <%=requested_user.user.full_name%></td>
                <td> <%=requested_user.is_replacement? ? "Replacement" : "New"%></td>
                <td>
                  <%hardware = []%>
                  <%hardware << (requested_user.pc ? "PC" : nil)%>
                  <%hardware << (requested_user.printer ? "Printer" : nil)%>
                  <%hardware << (requested_user.scanner ? "Scanner" : nil)%>
                  <% hardware.compact!%>
                  <%= hardware.join(", ").to_s %>
                </td>
                <td>
                  <span class="in-box">
                    <b style="color : <%=requested_user.status=='New' ? '#FFA500' : (requested_user.status == "Approved" || requested_user.status == "Processed" ? '#329C20' : 'red')%>"><%= requested_user.status%></b>
                  </span>
                </td>
              </tr>
            <%end%>
          </table>

        <%end%>
      </div>
      <div class="clear"></div>
  <%#end%>
    <%else%>
      <%=t('labels.no_request_found')%>
    <%end%>
  </div>
</div>
