<h2 class="b-head"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=t('labels.group_chat_room')%></b></h2><br/><br/>



<% @conversation_group_name = ConversationGroup.find_all_by_from_groupid_and_to_groupid_and_department_id(@group_names.id, @group_names.id, @current_department) %>

<div class="clearfix"></div>


<div class="chat" id="<%=@group_names.name%>">
  <div class="chat-head">
    <a href="#" class="ch-name">
      <%=@group_names.name%>&nbsp;&nbsp;</a>
    <a  id="closelink" class="ch-close" title="Close"><%=t('labels.close')%></a>
    <a  id="restore" class="ch-square" title="Restore" ><%=t('labels.restore')%></a>
    <a  id="minimize" class="ch-minas" title="Minimize"><%=t('labels.minimize')%></a>
  </div>
  <div class="chat-msg-box" id="<%=@group_names.name%>" >
    <div class="chat-msg" id="chat-msg">
      <p class="ch-date">
        <%=render :partial=>"conversation_group"%>
      </p>
      <div class="clearfix"></div>
    </div>
    <div class="chat-tbox">
      <span class="in-box"><%= form_for ConversationGroup.new, :remote => true do |f| %>
          <%=f.hidden_field :from_groupid, :value=>@group_names.id%>
          <%=f.hidden_field :to_groupid, :value=>@group_names.id%>
          <div class="form-sec-row" id="form-sec-row">
            <%= f.text_area :content, :id => :content, :rows => 2, :cols => 30, :autofocus => true %> <%= f.submit raw("Send"), :id=>"btn4", :class=>"btn4"%>
          <% end %>
        </div>
      </span>
    </div>
  </div>
</div>




<!-- CHAT DESIGN END-->


<script type="text/javascript">
  var jsUserID = <%= @group_name.id %>;

  $(document).ready(function() {

    var isScrolling = true;

    $('.chat-msg').on('scroll', function() {
      isScrolling = true;
      lastScrollPos = this.scrollTop;

    });
    refresh_alerts = setInterval(function () {
      if (isScrolling){
   
        $('#chat-msg').load('/conversation_groups/'+jsUserID).scrollTop(lastScrollPos);
      }
    }, 10000);
    isScrolling = false;


    $("tr:last").css({backgroundColor: '#FEEDEB', fontWeight: 'bolder'});



  });


  $('.ch-close').click(function() {
    $('.chat').toggle();

  });

  $('.ch-minas').click(function() {
    $(".chat-msg-box").hide();
  });

  $('.ch-square').click(function() {
    $(".chat-msg-box").show();
  });


</script>
