<%#= form_tag :controller=>"resource_transportation_bookings",:action=>"change_resource_status" do %>
<%= form_for @ict_firewall do |f|%>
  <div class="clearfix">&nbsp;</div>
  <div class="CenterNav">
    <h2 class="b-head">ICT Firewall Approval</h2>
    <%= hidden_field_tag :id,(@ict_firewall.id)  %>
    <div class="form-sec">
      <div class="form-sec-row form-sec-row1">
        <td><table width="500" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; border-bottom:1px solid #CCC;border-top:1px solid #CCC; padding:10px 0;">
                <table width="750" border="2" cellspacing="3" cellpadding="3" align="center"><br/>
                  <tr>
                    <td><font color="#369"><b><u>User Details:-</u></b></font></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><b>Agency Name</b></td>
                    <td>&nbsp;<b><%= @ict_firewall.user.departments[0].agency.name.upcase if !@ict_firewall.user.is_super_admin? %></b></td>
                  </tr>
                  <tr>
                    <td><b>Department Name</b></td>
                    <td>&nbsp;<b><%= @ict_firewall.user.departments[0].name if !@ict_firewall.user.is_super_admin? %></b></td>
                  </tr>
                  <tr>
                    <td><b>IC Number</b></td>
                    <td>&nbsp;<b><%= @ict_firewall.user.ic_number %></b></td>
                  </tr>
                  <tr>
                    <td><b>First Name</b></td>
                    <td>&nbsp;<b><%= @ict_firewall.user.first_name %></b></td>
                  </tr>
                  <tr>
                    <td><b>Last Name</b></td>
                    <td>&nbsp;<b><%= @ict_firewall.user.last_name %></b></td>
                  </tr>
                  <tr>
                    <td><b>Email</b></td>
                    <td>&nbsp;<b><%= @ict_firewall.user.email %></b></td>
                  </tr>

                  <tr>
                  <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            </tr>

            <tr>
              <td><font color="#369"><b><u>Firewall Details:-</u></b></font></td>
              <td></td>
            </tr>
            <tr>
              <td><b>Date of Application</b></td>
              <td>&nbsp;<b><%= @ict_firewall.created_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
            </tr>
            <tr>
              <td><b>Source IP</b></td>
              <td>&nbsp;<b><%= @ict_firewall.source_ip %></b></td>
            </tr>
            <tr>
              <td><b>Destination IP</b></td>
              <td>&nbsp;<b><%= @ict_firewall.destination_ip %></b></td>
            </tr>

            <tr>
              <td><b>From Date</b></td>
              <td>&nbsp;<b><%=  @ict_firewall.requested_from_date.strftime("%d-%m-%Y %H:%M %p") %></b></td>
            </tr>
            <tr>
              <td><b>To Date</b></td>
              <td>&nbsp;<b><%=  @ict_firewall.requested_to_date.strftime("%d-%m-%Y %H:%M %p") %></b></td>
            </tr>

            <tr>
              <td><b>Purpose</b></td>
              <td>&nbsp;<b><%=  @ict_firewall.justification %></b></td>
            </tr>

            <tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            </tr>


            <% if @ict_firewall.status == "New" %>
              <tr>
                <td><b>Status</b></td>
                <td>&nbsp;
                  <%= select_tag :approve_status,"<option>Approved</option><option>Declined</option>".html_safe %>
                </td>
              </tr>

              <tr>
                <td><b>Incharge Person</b></td>
                <td>&nbsp;

                  <%= select("forward","to", @users.collect {|p| [ p.first_name, p.id ] }, :prompt => "SELECT A USER") %>

                </td>
              </tr>

              <tr>
                <td><b>Remarks</b></td>
                <td>&nbsp;
                  <div class="form-sec-row">
                    <span class="in-box">
                      <%= text_area_tag 'remarks',nil,:rows => 3 %>
                    </span>
                  </div>
                </td>
              </tr>

            <%else%>

              <tr>
                <td><b>Status</b></td>
                <td>&nbsp;
                  <%= select_tag :approve_status,"<option>Processed<option>".html_safe %>
                </td>
              </tr>

            <%end%>

          </table>
          <% if @ict_firewall.status == 'New' %>

            <table>
              <tr>
                <td><font color="#369"><b><u>Service Details:-</u></b></font></td>
              </tr>
              <% services = @ict_firewall.ict_firewall_services %>
              <% services.each do |ict_firewall_service| %>
                <tr>
                  <th><b>Service Name</b></th>
                  <th><b>Way</b></th>
                  <th><b>Action</b></th>
                </tr>
                <tr>
                  <td><b><%= FacilityIctService.find(ict_firewall_service.id).port %></b></td> &nbsp;&nbsp; | &nbsp;&nbsp;
                  <td><b><%= ict_firewall_service.one_way? ? 'One Way' : 'Two Way' %></b></td>
                  <td>
                    <b><%= radio_button_tag :approved, 'approved', :checked=>true %><b>Approve</b>&nbsp;&nbsp;<br/>
                      <b><%= radio_button_tag :approved, 'not_approved', :checked=>false %><b>Not Approve</b></td>
                        </tr>
                      <% end %>
                      </table>
                    <%elsif @ict_firewall.status == 'Approved'%>
                      <table>
                        <% services = @ict_firewall.ict_firewall_services %>
                        <% services.each do |ict_firewall_service| %>
                         
                          <tr>
                            <th><b>Service Name</b></th>
                            <th><b>Way</b></th>
                            <th><b>Action</b></th>
                          </tr>
                          <tr>
                            <td><b><%= FacilityIctService.find(ict_firewall_service.id).port %></b></td> &nbsp;&nbsp; | &nbsp;&nbsp;
                            <td>
                              <b><%= ict_firewall_service.one_way? ? 'One Way' : 'Two Way' %></b>
                            </td>
                            <td>
                              <b><%= ict_firewall_service.approved? ? 'Approved' : 'Not Approved' %></b>
                            </td>
                          </tr>
                        <%end%>
                      </table>

                    <%end%>
                    </td>
                    </tr>

                    </table>

                    </td>
                    </div>
                    </div>
                    <div class="form-sec-row2">
                      <label class="text">&nbsp;</label>
                      <span class="in-box2">
                        <%= link_to "Back", :back, :class=>"btn1 mr2"%>
                        <%= f.submit "Submit", :class=>"btn1 mr2", :onclick=>'return validate_ict_request_approval_form();'%>
                      </span>
                    </div>
                    </div>
                  <%end%>


                  <script>
                    function validate_ict_request_approval_form()
                    {
                      if ($("#forward_to").val() == "")
                      {
                        alert("Select a InCharge Person");
                        return false;
                      }
                    }
                  </script>