<div class="CenterNav">
  <div class="form-sec">
    <h2 class="b-head"><%=t('labels.ict_firewall_details')%></h2>
    <div class="form-sec">

      <font color="#369" size="3"><br/><b><u><%=t('labels.user_details')%>:-</u><br/><br/></b></font>
      <% @user_name = User.find(@ict_firewall.user_id) %>

      <div class="form-sec-row">
        <label class="text"><%=t('labels.first_name')%></label>
        <span class="in-box">
          <%= @user_name.first_name %></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.last_name')%></label>
        <span class="in-box"><%= @user_name.last_name %></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.contact_number')%></label>
        <span class="in-box"><%= @user_name.contact_mobile  %></span>
      </div>

      <div class="form-sec-row">
        <label class="text"><%=t('labels.ic_no')%></label>
        <span class="in-box">
          <%= @user_name.ic_number %></span>
      </div>

      <div class="form-sec-row">
        <label class="text"><%=t('labels.email')%></label>
        <span class="in-box">
          <%= @user_name.email %></span>
      </div>

      <h2 class="b-head"></h2>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.ticket_no')%></label>
        <span class="in-box"><font color="red"><b>&nbsp;<%= @ict_firewall.id %>/<%=Time.now.year%></span>
              </div>

              <div class="form-sec-row">
                <label class="text"><%=t('labels.date_of_app')%></label>
                <span class="in-box"><%= @ict_firewall.created_at.strftime("%a %d %b %Y %I:%M %p")%></span>
              </div>
              </div>

              <h2 class="b-head"></h2>

              <div class="form-sec-row">
                <label class="text"><%=t('labels.source_ip')%></label>
                <span class="in-box">
                  <%= @ict_firewall.source_ip %>
                </span>
              </div>
              
              
                <div class="form-sec-row">
                  <% if @ict_firewall.attachment.present? %>
                    <label class="text">Attachment</label>
                    <% image = @ict_firewall.attachment.url(:profile).split(".").last %>
                    <% if image == "gif" || image == "jpg" || image == "jpeg" || image == "png" %>
                      <span class="in-box">
                        <%=image_tag(@ict_firewall.attachment.url(:profile),:title=>@ict_network.attachment)%>
                      <%else%>
                        <% file = (@ict_firewall.attachment).url(:profile).split("/").last %>
                        <td>&nbsp;<b><%= link_to file, download_attachments_ict_firewalls_path(:id=>@ict_firewall.id) if @ict_firewall.attachment?  %></b></td>
                      </span>
                    <%end%>
                  <%end%>
                </div>
                
              <div class="form-sec-row">
                <label class="text"><%=t('labels.Destination_ip')%></label>
                <span class="in-box">
                  <%= @ict_firewall.destination_ip %>
                </span>
              </div>

              <div class="form-sec-row">
                <label class="text"><%=t('labels.from_date')%></label>
                <span class="in-box">
                  <%=  @ict_firewall.requested_from_date.strftime("%d-%m-%Y %H:%M %p") %>
                </span>
              </div>

              <div class="form-sec-row">
                <label class="text"><%=t('labels.to_date')%></label>
                <span class="in-box">
                  <%=  @ict_firewall.requested_to_date.strftime("%d-%m-%Y %H:%M %p") %>
                </span>
              </div>

              <div class="form-sec-row">
                <label class="text"><%=t('labels.justification')%></label>
                <span class="in-box">
                  <%= @ict_firewall.justification %>
                </span>
              </div>

              <div class="form-sec-row">
                <label class="text"><%=t('labels.status')%></label>
                <span class="in-box">
                  <%= @ict_firewall.status %>
                </span>
              </div>

              <div class="form-sec-row">
                <label class="text"><%=t('labels.service_information')%></label>
                <span class="in-box">                 
                </span>
              </div>

              <% services = @ict_firewall.ict_firewall_services %>             

                <div style="margin-bottom: 10px;">
                  <table width="509" border="0" class="app-table" cellspacing="0" cellpadding="0" align="center" color="#329C20">
                    <tr>
                      <th color="#329C20" width="30%"><b><%=t('labels.service_name')%></b></th>
                      <th width="30%"><b><%=t('labels.way')%></b></th>
                      <th width="20%"><b><%=t('labels.action')%></b></th>
                    </tr>
					 <% services.each do |ict_firewall_service| %>
                    <tr>
                      <td><b><%= FacilityIctService.find(ict_firewall_service.facility_ict_service_id).port %></b></td>
                      <td><b><%= ict_firewall_service.one_way? ? t('labels.one_way') : t('labels.two_way') %></b></td>
                      <td><b><%= ict_firewall_service.approved? ? t('labels.approved') : t('labels.non_appr') %></b></td>
                    </tr><%end%>
                  </table>
                </div>
              

              <h2 class="b-head"></h2>

              </div>

              <div class="form-sec-row2">
                <label class="text">&nbsp;</label>
                <span class="in-box2">
                  <%= link_to t('labels.back'), :back, :class=>"btn1 mr2"%>
                </span>
              </div>
              </div>
