<%=javascript_include_tag 'ckeditor/ckeditor.js','ckeditor/adapters/jquery.js' %>
<%= form_for(@template) do |f| %>
  <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="form-sec">
    <div class="form-sec-row">
      <label class="text"><%=t('labels.template_type')%> <span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.select(:template_type, options_for_select( ["BIRTHDAY", "FESTIVAL","ANNOUNCEMENT"] ) ,:prompt=>"Select Category") %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.template_name')%> <span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.text_field :name%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.template_subject')%></label>
      <span class="in-box">
        <%= f.text_field :subject%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.template_add_fields')%></label>
      <span class="in-box">
        <%= select_tag :add_fields, options_for_select( [["UserName","user.username"], ["User Email","user.email"]] ) %>
        <%= link_to t('labels.template_add') , "javascript:void(0);", :id=>"btn_add_text_field"%>
      </span>
    </div>



    <%= f.text_area :content%>
    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= f.submit :class=>"btn2", :value=>@template.new_record? ? t('labels.create') : t('labels.update')%>
      </span>
    </div>
  </div>
<%end%>

<script>
  window.onload = function() {
    CKEDITOR.replace( 'template_content' );
  };
  $().ready(function(){
    jQuery('#template_content').ckeditor();
    $('#btn_add_text_field').click(function(){
      var rte = $('#template_content').ckeditorGet();
      rte.insertText("{{"+$('#add_fields').val()+"}}");
      return false;
    });

  })

   

</script>