<%= form_for(@resource_room_booking, :html => { :method => :post, :multipart => true }) do |f| %>
  <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="CenterNav">
    <%= hidden_field_tag :user_id, (current_user.id) %>
    <%= hidden_field_tag :department_id, (current_department) %>
    <% if !current_user.is_super_admin? %>
      <% @dept = Department.find_by_id(current_department) %>
      <% @agency = Agency.find_by_id(@dept.agency_id) %>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.agency_name')%><span style=color:red>*</span></label>
        <span class="in-box">
          <%= @agency.name  %>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.department_name')%><span style=color:red>*</span></label>
        <span class="in-box">
          <%= @dept.name %>
        </span>
      </div>
    <%end%>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.category_name')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.select(:sub_category_id,  SubCategory.where(:category_id => "6").active.collect {|category| [category.name, category.id]},:prompt=>"Select Sub Category") %>
      </span>
    </div>

    <div id="booked_or_available" style="display:block">
      <% if current_user.is_super_admin? %>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.type')%><span style=color:red>*</span></label>
          <span class="in-box">
            <%= radio_button_tag 'available', 'one_way', :checked=>true %><%= label t('labels.available'),t('labels.available') %>&nbsp;&nbsp;
            <%= radio_button_tag 'available', 'two_way'  %><%= label t('labels.booked'),t('labels.already_booked') %>
          </span>
        </div>
      <%end%>

      <div id="available_resource" class="form-sec-row" >
        <div class="form-sec-row">
          <label class="text"><%=t('labels.room_name')%><span style=color:red>*</span></label>
          <span class="in-box">
            <%= f.select(:resource_id, Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select Resource") %>
          </span>
        </div>
      </div>
    </div>

    <div id="booked_resource" style="display:none">
      <div class="form-sec-row">
          <label class="text"><%=t('labels.room_name')%><span style=color:red>*</span></label>
        <span class="in-box">
          <%= select("room","type_id_booked", Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select Resource") %>
        </span>
      </div>
    </div>

    <div id="list_facility">

    </div>
    <div class="form-sec-row">
      <%= f.label :room_attachment,t('labels.upload_file'), :class=>"text"%>
      <span class="in-box">
        <%= f.file_field :room_attachment%>
  <%#= f.hidden_field :room_attachment_cache %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.from_date')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%=f.text_field :requested_from_date ,:value=>@resource_room_booking && @resource_room_booking.requested_from_date!=nil ? @resource_room_booking.requested_from_date : nil ,:readonly=>true%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.to_date')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%=f.text_field :requested_to_date,:value=>@resource_room_booking && @resource_room_booking.requested_to_date!=nil ? @resource_room_booking.requested_to_date : nil ,:readonly=>true%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.room_capacity')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%=f.text_field :room_capacity,:onkeypress=>"return isNumberKey(event);",:size => 10%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.purpose')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.text_area :purpose, :cols => "1", :rows => "1"%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.remarks')%></label>
      <span class="in-box">
        <%= f.text_area :notes, :cols => "10", :rows => "10"%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= f.submit :class=>"btn2", :value=>@resource_room_booking.new_record? ? t('labels.create') : t('labels.update')%>
      </span>
    </div>
  </div>
<%end%>

<script>
  $("#available_one_way").live('change',function(){
    $("#booked_resource").hide();
    $("#available_resource").show();
  });

  $("#available_two_way").live('change',function(){
    $("#available_resource").hide();
    $("#booked_resource").show();
  });

  $("#resource_room_booking_sub_category_id").live("change", function(){
    if($("#resource_room_booking_sub_category_id").val() != ""){

      $.get("/resource_room_bookings/get_booked_rooms",{
        sub_category_id : $("#resource_room_booking_sub_category_id").val()
      },
      function(data){
        if (data['booked']!=null)
        {
          $("#room_type_id_booked").find('option').remove().end()
          $("#room_type_id_booked").append($("<option></option>").attr("value","").text("Select Room"));
          for(var i=0; i<data['booked'].length;i++)
          {
            $("#room_type_id_booked").append($("<option></option>").attr("value",data['booked'][i].resource.resource_id).text(data['booked'][i].resource.resource_no));
            $("#room_type_id_booked").show();
          }
        }
        $("#booked_or_available").show();
      })
    }
  });
</script>