<%= form_for(@resource_room_booking, :url=>update_room_booking_resource_room_bookings_path) do |f| %>
  <div class="clearfix">&nbsp;</div>
  <div class="CenterNav">
    <% if current_user.is_department_admin? %>
      <h2 class="b-head"><%=t('labels.res_room_app')%></h2>
    <%else%>
      <h2 class="b-head"><%=t('labels.res_room_pro')%></h2>
    <%end%>
    <%= hidden_field_tag :updated_by,(current_user.id)  %>
    <%= hidden_field_tag :resource_book_id,(@resource_room_booking.id)  %>
    <%= hidden_field_tag :resource_id,(@resource_room_booking.resource_id)  %>
    <div class="form-sec">
  <%# if @manager.present? %>
      <div class="form-sec-row form-sec-row1">
        <td><table width="500" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; border-bottom:1px solid #CCC;border-top:1px solid #CCC; padding:10px 0;">
                <table width="750" border="2" cellspacing="3" cellpadding="3" align="center"><br/>
                  <tr>
                    <td><font color='#369'><b><u><%=t('labels.user_details')%>:-</u></b></font></td>
                    <td></td>
                  </tr>

                  <% if @agency.present? %>
                    <tr>
                      <td><b><%=t('labels.agency_name')%></b></td>
                      <td><b>&nbsp;<%= @agency.name  %></b></td>
                    </tr>
                  <%end%>
                  <tr>
                    <td><b><%=t('labels.department_name')%></b></td>
                    <td><b>&nbsp;<%= @dept.name  %></b></td>
                  </tr>
                  <% if @manager.present? %>
                    <tr>
                      <td><b><%=t('labels.res_manager')%></b></td>
                      <td><b>&nbsp;<%= @manager.first_name  %></b></td>
                    </tr>
                  <%end%>
                  <tr>
                    <td><b><%=t('labels.first_name')%></b></td>
                    <td><b>&nbsp;<%= @user.first_name %></b></td>
                  </tr>
                  <tr>
                    <td><b><%=t('labels.last_name')%></b></td>
                    <td><b>&nbsp;<%= @user.last_name %></b></td>
                  </tr>
                  <tr>
                    <td><b><%=t('labels.ic_no')%></b></td>
                    <td><b>&nbsp;<%= @user.ic_number %></b></td>
                  </tr>
                  <tr>
                    <td><b><%=t('labels.email')%></b></td>
                    <td><b>&nbsp;<%= @user.email %></b></td>
                  </tr>

                  <tr>
                  <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            </tr>


            <tr>
              <td><font color="#369"><b><u><%=t('labels.application_details')%>:-</u></b></font></td>
              <td></td>
            </tr>
            <tr>
              <td><b><%=t('labels.ticket_no')%></b></td>
              <td style="color:#BB0802;">&nbsp;<b><%=@resource_room_booking.id%>/<%=Time.now.year%></b></td>
            </tr>
            <tr>
              <td><b><%=t('labels.date_of_app')%></b></td>
              <td><b>&nbsp;<%=@resource_room_booking.created_at.strftime("%a %d %b %Y %I:%M %p")%></b></td>
            </tr>
            <tr>
              <td><b><%=t('labels.room_name')%></b></td>
              <td><b>&nbsp;<%=@resource.name%></b></td>
            </tr>
            <tr>
              <td><b><%=t('labels.booking_Date')%></b></td>
              <td><b>&nbsp;<%=@resource_room_booking.requested_from_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
            </tr>
            <tr>
              <td><b><%=t('labels.ret_date')%></b></td>
              <td><b>&nbsp;<%=@resource_room_booking.requested_to_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
            </tr>
            <tr>
              <td><b><%=t('labels.purpose')%></b></td>
              <td><b>&nbsp;<%=@resource_room_booking.purpose%></b></td>
            </tr><% if @resource_room_booking.room_attachment.present? %>
              <tr>
                <td><b><%=t('labels.attachment')%></b></td>
                <% image = @resource_room_booking.room_attachment.url(:profile).split(".").last %>
                <% if image == "gif" || image == "jpg" || image == "jpeg" || image == "png" %>
                  <td><%=image_tag(@resource_room_booking.room_attachment.url(:profile),:title=>@resource_room_booking.room_attachment)%></td>
                <%else%>
                  <% file = (@resource_room_booking.room_attachment).url(:profile).split("/").last %>
                  <td>&nbsp;<b><%= link_to file, download_attachments_resource_room_bookings_path(:id=>@resource_room_booking.id) if @resource_room_booking.room_attachment?  %></b></td>
                <%end%>
              </tr>
            <%end%>
            <tr>
              <td><b><%=t('labels.remarks')%></b></td>
              <td><b>&nbsp;<%=@resource_room_booking.remarks%></b></td>
            </tr>

            <tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            </tr>


            <tr>
              <td><font color="#369"><b><u><%=t('labels.room_details')%>:-</u></b></font></td>
              <td></td>
            </tr>

            <% if @details_resource.present? %>
              <tr>
                <td><b><%=t('labels.room_no')%></b></td>
                <td><b>&nbsp;<%=@details_resource.resource_no%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.capacity')%></b></td>
                <td><b>&nbsp;<%=@details_resource.capacity%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.location')%></b></td>
                <td><b>&nbsp;<%=@details_resource.location%></b></td>
              </tr>
            <%end%>
            <% if current_user.is_resource_manager? && @resource_room_booking.status == "Approved" %>
              <tr>
                <% val = AgencyStore.find_by_sub_category_id(@resource_room_booking.sub_category_id, :conditions=>["booked = ?", false]) %>
                <% if val.present? %>
                  <td><label class="text"><%=t('labels.change_room')%></label></td>
                  <td><span class="in-box">
                      <%= select("resource_val", "id",  Resource.where(:id => val.resource_id ).active.collect {|category| [category.resource_no, category.id]},:prompt=>"Select Room")%>
                    <%else%>
                      <%= select("resource_val", "id",  Resource.active.collect {|p| [ p.name, p.id ] },:prompt=>"Select Room")%>
                    </span></td>
                <%end%>
              </tr>
            <%end%>
            <tr>
              <td id="dis_col" style="display:none;"><label class="text"><%=t('labels.details')%></label></td>
              <td><div id="details_resource_id" style="display:none;">
                </div></td>
            </tr>

            <tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            </tr>
            <% if @resource_room_booking.status == "Approved" && !current_user.is_department_admin? && !@resource_room_booking.updated_by.present?%>
              <% user = User.find(@resource_room_booking.user_id) %>
              <tr>
                <td><font color="#369"><b><u><%=t('labels.app_details')%>:-</u></b></font></td>
                <td></td>
              </tr>
              <tr>
                <td><b><%=t('labels.app_by')%></b></td>
                <td><b>&nbsp;<%=user.username%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.app_at')%></b></td>
                <td><b>&nbsp;<%=@resource_room_booking.updated_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
              </tr>
            <% elsif @resource_room_booking.status == "Approved" && !current_user.is_department_admin? && @resource_room_booking.updated_by.present?%>
              <% username = User.find(@resource_room_booking.updated_by) %>
              <tr>
                <td><font color="#369"><b><u><%=t('labels.app_details')%>:-</u></b></font></td>
                <td></td>
              </tr>
              <tr>
                <td><b><%=t('labels.app_by')%></b></td>
                <td><b>&nbsp;<%=username.username%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.app_at')%></b></td>
                <td><b>&nbsp;<%=@resource_room_booking.updated_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
              </tr>
            <% elsif @resource_room_booking.status == "Approved" && current_user.is_department_admin? && !@resource_room_booking.updated_by.present? %>
              <% user = User.find(@resource_room_booking.user_id) %>
              <tr>
                <td><font color="#369"><b><u><%=t('labels.app_details')%>:-</u></b></font></td>
                <td></td>
              </tr>
              <tr>
                <td><b><%=t('labels.app_by')%></b></td>
                <td><b>&nbsp;<%=user.username%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.app_at')%></b></td>
                <td><b>&nbsp;<%=@resource_room_booking.updated_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
              </tr>
            <% elsif @resource_room_booking.status == "Approved" && current_user.is_department_admin? && @resource_room_booking.updated_by.present? %>
              <% username = User.find(@resource_room_booking.updated_by) %>
              <tr>
                <td><font color="#369"><b><u><%=t('labels.app_details')%>:-</u></b></font></td>
                <td></td>
              </tr>
              <tr>
                <td><b><%=t('labels.app_by')%></b></td>
                <td><b>&nbsp;<%=username.username%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.app_at')%></b></td>
                <td><b>&nbsp;<%=@resource_room_booking.updated_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
              </tr>
            <%elsif @resource_room_booking.status == "Processed" && !current_user.is_super_admin? %>
              <% username = User.find(@resource_room_booking.updated_by) %>
              <tr>
                <td><font color="#369"><b><u><%=t('labels.pro_details')%>:-</u></b></font></td>
                <td></td>
              </tr>
              <tr>
                <td><b><%=t('labels.pro_by')%></b></td>
                <td><b>&nbsp;<%=username.username%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.pro_at')%></b></td>
                <td><b>&nbsp;<%=@resource_room_booking.updated_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
              </tr>
            <%elsif @resource_room_booking.status == "Processed" && current_user.is_super_admin? && !@resource_room_booking.updated_by.present?%>
              <% user = User.find(@resource_room_booking.user_id) %>
              <tr>
                <td><font color="#369"><b><u><%=t('labels.pro_details')%>:-</u></b></font></td>
                <td></td>
              </tr>
              <tr>
                <td><b><%=t('labels.pro_by')%></b></td>
                <td><b>&nbsp;<%=user.username%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.pro_at')%></b></td>
                <td><b>&nbsp;<%=@resource_room_booking.updated_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
              </tr>
            <%elsif @resource_room_booking.status == "Processed" && current_user.is_super_admin? && @resource_room_booking.updated_by.present?%>
              <% username = User.find(@resource_room_booking.updated_by) %>
              <tr>
                <td><font color="#369"><b><u><%=t('labels.pro_details')%>:-</u></b></font></td>
                <td></td>
              </tr>
              <tr>
                <td><b><%=t('labels.pro_by')%></b></td>
                <td><b>&nbsp;<%=username.username%></b></td>
              </tr>
              <tr>
                <td><b><%=t('labels.pro_at')%></b></td>
                <td><b>&nbsp;<%=@resource_room_booking.updated_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></b></td>
              </tr>
            <%end%>

            <tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            </tr>

            <% if current_user.is_department_admin? || current_user.is_department_user? || current_user.is_super_admin?%>
              <% if @details_resource.present?%>
                <tr>
                  <td><font color="#369"><b><u><%=t('labels.res_det')%>:-</u></b></font></td>
                  <td></td>
                </tr>
                <tr>
                  <td><b><%=t('labels.room_ex_no')%></b></td>
                  <td><b>&nbsp;<%=@details_resource.resource_no%></b></td>
                </tr>
                <tr>
                  <td><b> <%=t('labels.location')%></b></td>
                  <td><b>&nbsp;<%=@details_resource.location%></b></td>
                </tr>
                <tr>
                  <td><b> <%=t('labels.capacity')%></b></td>
                  <td><b>&nbsp;<%=@details_resource.capacity%></b></td>
                </tr>
              <%end%>
            <%end%>
            <% if @facility.present? %>

              <tr>
              <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
              </tr>

              <tr>
                <td><font color="#369"><b><u><%=t('labels.facility_details')%>:-</u></b></font></td>
                <td></td>
              </tr>
              <% @facility.each do |facility| %>
                <tr>
                  <td><b><%=t('labels.facility_name')%></b></td>
                  <td><b>&nbsp;<%=facility.name%></b></td>
                </tr>
                <tr>
                  <td><b><%=t('labels.quantity')%></b></td>
                  <td><b>&nbsp;<%=facility.total_qty%></b></td>
                </tr>
              <%end%>
            <%end%>

            <tr>
              <td><font color="#369"><b><u><%=t('labels.status_details')%>:-</u></b></font></td>
              <td></td>
            </tr>
            <tr>
              <td><label class="text"> <%= f.label :location,raw("Status"), :class=>"text"%></label></td>
              <% if @approve.present?  && @approve.user_id == current_user.id %>
                <td><span class="in-box">
                    <%select_options=["Approved","Declined"]%>
                    <%=f.select(:status, options_for_select(select_options))%>
                  </span></td>
              <% elsif @approve1.present?  && @approve1.user_id == current_user.id%>
                <td><span class="in-box">
                    <%select_options=["Approved","Declined"]%>
                    <%=f.select(:status, options_for_select(select_options))%>
                  </span></td>
              <% elsif current_user.is_department_admin? && !@approve.present? || current_user.is_super_admin?%>
                <td><span class="in-box">
                    <%select_options=["Approved","Declined"]%>
                    <%=f.select(:status, options_for_select(select_options))%>
                  </span></td>
              <%elsif current_user.is_resource_manager? && @resource_room_booking.user_returned_status?%>
                <td><span class="in-box">
                    <%select_options=["Returned"]%>
                    <%=f.select(:status, options_for_select(select_options))%>
                  </span></td>
              <%else%>
                <td><span class="in-box">
                    <%select_options=["Processed", "Declined"]%>
                    <%=f.select(:status, options_for_select(select_options))%>
                  </span></td>
              <%end%>
            </tr>
      </div>
      </table>
      </td>
      </tr>
      </table>
      </td>
      <div class="form-sec-row">
        <label class="text">&nbsp;</label>
        <span class="in-box">
          <%= link_to t('labels.back'), :back, :class=>"btn1 mr2"%>
          <% if @resource_room_booking.status == "Processed" && @resource_room_booking.user_returned_status? %>
            <%= f.submit t('labels.submit'), :class=>"btn2"%>
          <%else%>
            <%= f.submit t('labels.submit'), :class=>"btn2"%>
          <%end%>
        </span>
      </div>
    </div>
  <%#else%>
  <%#= "No Resource Available" %>
  <%#end%>
  </div>
  </div>
<%end%>
