<div class="CenterNav">
  <h2 class="b-head"><%= 'Manage Group Members'%></h2>
  <div class="create-user">
    <div class="cu-c1"><a href="/group_members/new" title=<%= 'Create GroupMembers' %>><img src="../images/add_user.jpg" width="17" height="16" alt="img" /><%= 'Create GroupMembers'%></a></div>

  </div>
  <div id="div_ajax" >
    <%if @groups&& !@groups.empty?%>
      <%  @groups.each do |group| %>
      <% group.group_members.each do |group_member| %>
        <div class="manage-user box">
          <div class="manage-user-row box">
            <div class="mu-c1">
            </div>
            <div class="mu-c2">
              <p class="head1">
                <b><%= User.find(group_member.user_id).first_name %></b></p><br/>                                
            </div> 
            <div class="mu-c3">
            	<b><%= group.name %></b><br/>
            </div>           
          </div>
        </div>
      <%end%> <%end%>
    <%end%>
  </div>
</div>
