<%= form_for(@outstation, :as => :outstation,  :url => outstations_path, :html => {:multipart => true}, :method=>:post) do |f| %>
  <div class="form-sec">
    <%=f.error_messages%>
    <div class="clearfix">&nbsp;</div>
    <div class="form-sec-row">
    <%= hidden_field_tag "outstation[user_id]",current_user.id %>
<div class="stepsblock">
                    	<ul>
                            <li class="step1" title="Step 1">Step 1</li>
                            <li class="divider"></li>
                            <li class="step2" title="Step 2">Step 2</li>
                            <li class="divider"></li>
                            <li class="step3" title="Step 3">Step 3</li>
                            <li class="divider"></li>
                            <li class="step4" title="Step 4">Step 4</li>
                            <li class="divider"></li>
                            <li class="step5 active" title="Step 5">Step 5</li>
                        </ul>
                    </div>
 </div>
    <%= hidden_field_tag "outstation[user_id]",current_user.id %>

    <div class="form-sec-row">
      <%= f.label t('labels.destination'), :class=>"text"%>
      <span class="in-box">
        <%= f.radio_button :is_out_of_state,'Out of State', :checked => true %> Out of State
        <%= f.radio_button :is_out_of_state,'Out of Country' %> Out of Country
      </span>
    </div>

    <div class="form-sec-row">
      <%= f.label t('labels.type'), :class=>"text"%>
      <span class="in-box">
        <%= f.radio_button :is_official,'Official',:checked => true %> Official
        <%= f.radio_button :is_official,'Non-Official/Personal' %> Non-Official/Personal
      </span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.place_name')%> <span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.text_field :placename, :size => 30, :autofocus => true%>
      </span>
    </div>

    <div id="state_box" class="form-sec-row" style="display:block">
      <label class="text"><%=t('labels.state')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.select(:state,options_from_collection_for_select(State.all, 'id','name' ), :prompt => "Select State")%>      </span>
    </div>

    <div id="country_box" class="form-sec-row" style="display:none">
      <label class="text"><%=t('labels.country')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%= country_select("outstation", "country")%>  </span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.from_date')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%=f.text_field :from_date ,:readonly=>true %>
      </span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.to_date')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%=f.text_field :to_date ,:readonly=>true %>
      </span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.purpose')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%=f.text_area :purpose,:rows=>2 %>
      </span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.total_exp')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%=f.text_field :total_expenditure %>
      </span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.cause_spending')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%=f.text_field :cause_spending%>
      </span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.upload_files')%><span style=color:red></span></label>
      <span class="in-box">
        <%=f.file_field :attachment %>
      </span>
    </div>

    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= f.submit :class=>"btn2",:value=>t('labels.create')%>
      </span>
    </div>

  </div>
<%end%>


<script>
  $().ready(function(){
    $("#outstation_is_out_of_state_out_of_country").live('change',function(){
      $("#state_box").hide();
      $("#country_box").show();
    });

    $("#outstation_is_out_of_state_out_of_state").live('change',function(){
      $("#country_box").hide();
      $("#state_box").show();
    });
  });
</script>