<div class="clearfix">&nbsp;
  <div class="CenterNav">
    <h2 class="b-head"><%=t('labels.outstation_details')%></h2>

    <% @user_name = User.find(@outstation.user_id) %>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.first_name')%></label>
      <span class="in-box">
        <%= @user_name.first_name %></span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.last_name')%></label>
      <span class="in-box">
        <%= @user_name.last_name %></span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.contact_number')%></label>
      <span class="in-box">
        <%= @user_name.contact_mobile  %></span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.ic_no')%></label>
      <span class="in-box">
        <%= @user_name.ic_number %></span>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.email')%></label>
      <span class="in-box">
        <%= @user_name.email %></span>
    </div>

    <h2 class="b-head"></h2>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.ticket_no')%></label>
      <span class="in-box"><font color="red"><b>&nbsp;<%= @outstation.id %>/<%=Time.now.year%></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.date_of_app')%></label>
              <span class="in-box"><%= @outstation.created_at.strftime("%a %d %b %Y %I:%M %p")%></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.destination')%></label>
              <span class="in-box">
                <%= @outstation.is_out_of_state? ? 'Out of State' : 'Out of Country' %></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.outstation_type')%></label>
              <span class="in-box">
                <%= @outstation.is_official ? 'Official' : 'Non-Official/Personal' %></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.purpose')%></label>
              <span class="in-box">
                <%= @outstation.purpose %></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.place_name')%></label>
              <span class="in-box">
                <%= @outstation.placename %></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.from_date')%></label>
              <span class="in-box">
                <%= @outstation.from_date %></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.to_date')%></label>
              <span class="in-box">
                <%= @outstation.to_date %></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.total_exp')%></label>
              <span class="in-box">
                <%= @outstation.total_expenditure %></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.cause_spending')%></label>
              <span class="in-box">
                <%= @outstation.cause_spending %></span>
            </div>

            <div class="form-sec-row">
              <label class="text"><%=t('labels.status')%></label>
              <span class="in-box">
                <% if @outstation.status == "New"%><b><font color='#FFA500'><%= "#{@outstation.status}" %></font></b> <% elsif @outstation.status == "Verified" || @outstation.status == "Recommended" || @outstation.status == "Approved" %>  <b><font color='#329C20'><%= "#{@outstation.status}" %> </font></b><% elsif @outstation.status == "Declined" || @outstation.status == "Returned" || @outstation.status == "Cancelled" %>  <b><font color='red'><%= "#{@outstation.status}" %> </font></b><% end %>
              </span>
            </div>

            </div>
            </div>
