<%= form_for(@group, :as => :group) do |f| %>
<div class="form-sec">
	<%=f.error_messages%>
	
	<div class="form-sec-row">
		<label class="text"><%=t('labels.group_name')%><span style=color:red>*</span></label>
		<span class="in-box"> <%= f.text_field :name, :autofocus => true %> </span>
	</div>
	
	<div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= f.submit t('labels.submit'),:class=>"btn2"%>
      </span>
    </div>
</div>
<%end%>
