<div class="CenterNav">
  <h2 class="b-head"><%=t('labels.manage_group')%></h2>
  <div class="create-user">
    <div class="cu-c1"><a href="/groups/new" title=<%=t('labels.create_group')%>><img src="../images/add_user.jpg" width="17" height="16" alt="img" /><%=t('labels.create_group')%></a></div>

  </div>
  <div id="div_ajax" >
    <%if @groups && !@groups.empty?%>
      <%  @groups.each do |group|%>
        <div class="manage-user box">
          <div class="manage-user-row box">
           
               <div class="mu-c1">
              </div>
              <div class="mu-c2">
                <p class="head1"><%=image_tag("../images/group.jpg",:width=>"25",:height=>"25",:alt=>"img")%>&nbsp;<%= group.name %></p>
              </div>
              <div class="mu-c3">
                <%= link_to image_tag("../images/edit.jpg",:width=>"14",:height=>"14",:alt=>"img") +"Edit", :action=>'edit', :id=>group.id.to_i%>
                <%if group.is_active %>
                  <%= link_to image_tag("../images/deactive.jpg",:width=>"14",:height=>"14",:alt=>"img") +"Deactivate", update_status_groups_path(:id=>group.id, :status=>"Deactivate"), :confirm => 'Do you want to really deactivate this Group Name?', :method=>:post, :title=>"Deactive" %>
                <%else%>
                  <%= link_to  image_tag("../images/active.jpg",:width=>"14",:height=>"14",:alt=>"img") +"Activate",  update_status_groups_path(:id=>group.id,:status=>"Activate"), :confirm => 'Do you want to really Activate this Group Name?', :method=>:post, :title=>"Activate"%>
                <%end%>

              </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
