<%= form_for(@complaint_computer, :html => { :method => :post, :multipart => true }) do |f| %>
<%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <%#*<div class="CenterNav">%>

  <div class="form-sec">
  <%# if @manager.present? %>

  </div>
<br/>
  <div class="form-sec-row">
    <label class="text">Type of Complaint<span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.select(:complaint_type_id, ComplaintType.all.collect {|p| [ p.name, p.id ] },:prompt => "SELECT A COMPLAINT TYPE", :style=> "width:132%;") %>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Item / Type of System<span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.select(:system_access_id, SystemAccess.all.collect {|p| [ p.name, p.id ] },:prompt => "SELECT A ITEM / SYSTEM TYPE", :style=> "width:132%;") %>
    </span>
  </div>
    <div class="form-sec-row">
    <label class="text">Model Item / System<span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.select(:system_model_type_id, SystemModelType.all.collect {|p| [ p.name, p.id ] },:prompt => "SELECT A MODEL ITEM / SYSTEM ", :style=> "width:132%;") %>
    </span>
  </div>
 
  <div class="form-sec-row">
    <label class="text">Serial No <span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_field :serial_no%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Reason<span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_area :reason, :rows =>4%></span>
    <div>

    </div>
  </div>
  <div class="form-sec-row">
    <div class="CenterNav">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= f.submit :value=>'Save', :class=>"btn2"%>
      </span>
    </div>
  </div>
  <%#*</div>%>
<%end%>
