<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <h2 class="b-head"><%=t('labels.complaint_compu_book_details')%></h2>
    <div class="clearfix">&nbsp;</div>
    <div class="form-sec">
      <% if !current_user.is_super_admin? %>
        <font color='#369'><b><u><%=t('labels.user_details')%></u></b></font>
        <% @dept = Department.find_by_id(current_department) %>
        <% @agency = Agency.find_by_id(@dept.agency_id) %>
        <% @complaint_computer = ComplaintComputer.find_by_id(params[:id]) %>
        <% @user = User.find_by_id(@complaint_computer.user_id) %>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.agency_name')%></label>
          <span class="in-box"><%= @agency.name  %></span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.department_name')%></label>
          <span class="in-box">
            <%= @dept.name  %></span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.user_name')%></label>
          <span class="in-box"><%= @user.username %></span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.contact_mob')%></label>
          <span class="in-box"><%= @user.contact_mobile  %></span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.ic_no')%></label>
          <span class="in-box">
            <%= @user.ic_number %></span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.email')%></label>
          <span class="in-box">
            <%= @user.email %></span>
        </div>
        <h2 class="b-head"></h2><br/>
      <%end%>
      <font color='#369'><b><u><%=t('labels.complaint_computer_details')%></u></b></font>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.ticket_no')%></label>
        <span class="in-box"><font color="red" size="3"><b>&nbsp;<%= @complaint_computer.id %>/<%=Time.now.year%></b></font></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.date_of_app')%></label>
        <span class="in-box"><%= @complaint_computer.created_at.strftime("%a %d %b %Y %I:%M %p")%></span>
      </div>
    </div>

    <div class="form-sec-row">
      <label class="text"><%=t('labels.complaint_type')%></label>
      <span class="in-box">
        <%  @name = ComplaintType.find_by_id(@complaint_computer.complaint_type_id)%>
        <%  @system_access_name = SystemAccess.find_by_id(@complaint_computer.system_access_id)%>
        <%  @system_model_name = SystemModelType.find_by_id(@complaint_computer.system_model_type_id)%>
        <%= @name.name%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.system_type')%></label>
      <span class="in-box">
        <%= @system_access_name.name %></span>
    </div>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.model_item')%></label>
      <span class="in-box">
        <%= @system_model_name.name %></span>
    </div>

   <% if !@complaint_computer.reason.blank?%>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.reason')%></label>
      <span class="in-box">
        <%= @complaint_computer.reason %></span>
    </div>
    <%end%>
    <div class="form-sec-row">
      <label class="text"><%=t('labels.serial_no')%></label>
      <span class="in-box">
        <%= @complaint_computer.serial_no %></span>
    </div>
    <h2 class="b-head"></h2>
    <% if @complaint_computer.status == "Approved" || @complaint_computer.status == "Processed" || @complaint_computer.status == "Declined"%>
      <font color="#369" size="3"><br/><b><u><%=t('labels.off_act')%> :-</u><br/><br/></b></font>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.act_to_be_taken')%></label>
        <span class="in-box">
          <% if @complaint_computer.action_taken == false %>
            <%=t('labels.internal')%> <% else %>
           <%=t('labels.external')%>
          <%end%></span>
      </div>


      <% @vendor_name = Vendor.find_by_id(@complaint_computer.vendor_id) %>
      <% if @complaint_computer.action_taken == true && @complaint_computer.status == "Approved"%><br/>
        <font color='#369'><b><u><%=t('labels.issue_log_computer_details')%></u></b></font>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.vendor_name')%></label>
          <span class="in-box">
            <%= @vendor_name.name if @complaint_computer.vendor_id %></span>
        </div>
      <%end%>
      <% if @complaint_computer.action_taken == true && @complaint_computer.status == "Processed"%><br/>
        <font color='#369'><b><u><%=t('labels.issue_log_computer_details')%></u></b></font>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.vendor_name')%></label>
          <span class="in-box">
            <%= @vendor_name.name if @complaint_computer.vendor_id %></span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.given_date')%></label>
          <span class="in-box">
            <%= @complaint_computer.given_date.to_datetime.strftime("%a %d %b %Y %I:%M %p") if @complaint_computer.given_date %></span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.receipt_date')%></label>
          <span class="in-box">
            <%= @complaint_computer.receipt_date.to_datetime.strftime("%a %d %b %Y %I:%M %p") if @complaint_computer.receipt_date%></span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.comments')%></label>
          <span class="in-box">
            <%= @complaint_computer.comments if @complaint_computer.comments %></span>
        </div>
        <h2 class="b-head"></h2>

      <%end%>

      <div class="form-sec-row">
        <label class="text"><%=t('labels.status')%></label>
        <span class="in-box">
          <% if @complaint_computer.status == "New"%><b><font color='#FFA500'><%= @complaint_computer.status %></b></font><% elsif @complaint_computer.status == "Approved" || @complaint_computer.status == "Processed"  %>  <b><font color='#329C20'><%= @complaint_computer.status %></b></font><% elsif @complaint_computer.status == "Declined" || @complaint_computer.status == "Returned"  %>  <b><font color='red'><%= @complaint_computer.status %></b></font><%end%></span>
      </div>
      <% name = User.find_by_id(@complaint_computer.forward_to) %>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.forward_to')%></label>
        <span class="in-box">
          <%= name.username %>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.remarks')%></label>
        <span class="in-box">
          <%= @complaint_computer.remarks %></span>
      </div>
      <h2 class="b-head"></h2>
    <%end%>
    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= link_to t('labels.back'), :back, :class=>"btn1 mr2"%>
      </span>
    </div>

  </div>
</div>
