<div class="clearfix"></div>
<div class="CenterNav">
	<div class="form-sec">
		<h2><%= t('labels.step_1_of_5')%> - <%= t('labels.update_user_profile')%></h2>
		<br/>

		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.name')%></label>
			<span class="in-box"> <%= @users.username %></span>
		</div>
		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.ic_no')%></label>
			<span class="in-box"> <%= @users.ic_number %></span>
		</div>

		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.marital_status')%></label>
			<span class="in-box"> <%= @users.marital_status %></span>
		</div>
		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.gender')%></label>
			<span class="in-box"> <%= @users.gender %></span>
		</div>
		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.address')%></label>
			<span class="in-box"> <%= @users.address %></span>
		</div>
		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.zipcode')%></label>
			<span class="in-box"> <%= @users.zipcode %></span>
		</div>
		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.city')%></label>
			<span class="in-box"> <%= @users.city %></span>
		</div>
		<% users_state = State.find_by_id(@users.state) %>
		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.state')%></label>
			<span class="in-box"> <%= users_state.name %></span>
		</div>

		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.hp_num')%></label>
			<span class="in-box"> <%= @users.hp_number %></span>
		</div>

		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.dob')%></label>
			<span class="in-box"> <%= @users.date_of_birth %></span>
		</div>
		<div class="form-sec-row-out">
			<label class="text"><%= t('labels.total_children_dependent')%></label>
			<span class="in-box"> <%= @users.child %></span>
		</div>
		<h2 class="b-head"></h2>
		<br/>
		<a id="showhidetrigger" ><b><%= t('labels.show_hide')%> - <%= t('labels.step_2_of_5')%></b></a>
		<br/>
		<div id="showhidetarget">
			<h2><%= t('labels.step_2_of_5')%> - <%= t('labels.update_user_profile')%></h2>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.level_of_service')%></label>
				<span class="in-box"> <%= @service_level.stage if !@service_level.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.service_classification')%></label>
				<span class="in-box"> <%= @classification.title if !@classification.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.service_std')%></label>
				<span class="in-box"> <%= @standard.name if !@standard.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.appointment')%></label>
				<span class="in-box"> <%= @appointment.name if !@appointment.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text">Grade </label>
				<span class="in-box"> <%= @service.grade_id if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.position')%> </label>
				<span class="in-box"> <%= @service.position if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.salary_scale')%></label>
				<span class="in-box"> <% if !@service.blank? %>
					<% salary_scale =  @service.salary_scale1, @service.salary_scale2 %>
					<%= salary_scale %></span>
				<%end%>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.email')%> </label>
				<span class="in-box"> <%= @service.email if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.destination_state')%> </label>
				<span class="in-box"> <%= @state.name if !@state.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.city')%> </label>
				<span class="in-box"> <%= @service.city if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.zipcode')%> </label>
				<span class="in-box"> <%= @service.postal_code if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.off_add')%></label>
				<span class="in-box"> <%= @service.office_address if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.off_no')%></label>
				<span class="in-box"> <%= @service.office_number if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.off_fax')%></label>
				<span class="in-box"> <%= @service.office_fax if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.date_of_first_publilc_appointment')%></label>
				<span class="in-box"> <%= @service.first_appointment_to_public_service if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"> <%= t('labels.present_post_date')%> </label>
				<span class="in-box"> <%= @service.first_appointment_to_present_position if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"> <%= t('labels.promotion_grade_date')%> </label>
				<span class="in-box"> <%= @service.promotion_to_present_grade if !@service.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"> <%= t('labels.confirmation_date')%> </label>
				<span class="in-box"> <%= @service.confirmation_date if !@service.blank? %></span>
			</div>
		</div>
		<h2 class="b-head"></h2>
		<br/>
		<a id="showhidetriggerstep3" ><b><%= t('labels.show_hide')%> - <%= t('labels.step_3_of_5')%></b></a>
		<br/>
		<div id="showhidetargetstep3">
			<h2><%= t('labels.step_3_of_5')%> - <%= t('labels.hod_emergency_ref_info')%></h2>
			<br/>
			<b><u><%= t('labels.hod_dept_detail')%> :-</u></b>
			<br/>
			<br/>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.name')%> </label>
				<span class="in-box"> <%= Department.find_by_id(@current_department).name %> </span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.position_title')%></label>
				<span class="in-box"> </span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.email')%></label>
				<span class="in-box"> </span>
			</div>
			<br/>
			<b><u><%= t('labels.emergency_ref_detail')%> :-</u></b>
			<br/>
			<br/>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.name')%></label>
				<span class="in-box"> <%= @emergency_references.name if !@emergency_references.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.address')%></label>
				<span class="in-box"> <%= @emergency_references.address if !@emergency_references.blank?  %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.tel_no')%></label>
				<span class="in-box"> <%= @emergency_references.phone_no if !@emergency_references.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.relation_ship')%></label>
				<span class="in-box"> <%= @emergency_references.relation if !@emergency_references.blank?  %></span>
			</div>
		</div>

		<h2 class="b-head"></h2>
		<br/>
		<a id="showhidetriggerstep4" ><b><%= t('labels.show_hide')%> - <%= t('labels.step_4_of_5')%></b></a>
		<br/>
		<div id="showhidetargetstep4">
			<h2><%= t('labels.step_4_of_5')%> - <%= t('labels.property_declar')%></h2>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.year')%></label>
				<span class="in-box"> <%= @declaration_properties.property_year if !@declaration_properties.blank? %></span>
			</div>
			<div class="form-sec-row-out">
				<% if (@declaration_properties.present? && @declaration_properties.property_file.present?) %>
				<label class="text"><%= t('labels.attachment')%></label>
				<% image = @declaration_properties.property_file.url(:profile).split(".").last %>
				<% if image == "gif" || image == "jpg" || image == "jpeg" || image == "png" %>
				<span class="in-box"> <%= image_tag(@declaration_properties.property_file.url(:profile),:title=>@declaration_properties.property_file)%>
					<%else%>
					<% file = (@declaration_properties.property_file).url.split("/").last %> <b>&nbsp;<%= link_to file, download_attachments_users_path(:id=>@declaration_properties.id) if @declaration_properties.property_file?  %></b> </span>
				<%end%>
				<%end%>
			</div>
		</div>

		<% if !@outstations.blank? %>
		<h2 class="b-head"></h2>
		<br/>
		<a id="showhidetriggerstep5" ><b><%= t('labels.show_hide')%> - <%= t('labels.step_5_of_5')%></b></a>
		<br/>
		<div id="showhidetargetstep5">
			<h2><%= t('labels.step_5_of_5')%> - <%= t('labels.out_stat_req')%></h2>

			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.destination')%></label>
				<span class="in-box"> <% if @outstations.is_out_of_state == true %><%= t('labels.out_of_state')%> <% else %><%= t('labels.out_of_country')%>
					<%end%></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text">Type</label>
				<span class="in-box"> <% if @outstations.is_official == true %><%= t('labels.official')%><% else %><%= t('labels.non_off_per')%>
					<%end%></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.place_name')%></label>
				<span class="in-box"> <%= @outstations.placename %></span>
			</div>  <% if @outstations.is_out_of_state == true %>
			<% outstations_state = State.find_by_id(@outstations.state) %>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.state')%></label>
				<span class="in-box"> <%= outstations_state.name %></span>
			</div>
			<%else%>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.country')%></label>
				<span class="in-box"> <%= @outstations.country %></span>
			</div>
			<%end%>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.from_date')%></label>
				<span class="in-box"> <%= @outstations.from_date %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.to_date')%></label>
				<span class="in-box"> <%= @outstations.to_date %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.purpose')%></label>
				<span class="in-box"> <%= @outstations.purpose %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.total_exp')%></label>
				<span class="in-box"> <%= @outstations.total_expenditure %></span>
			</div>
			<div class="form-sec-row-out">
				<label class="text"><%= t('labels.cause_spending')%></label>
				<span class="in-box"> <%= @outstations.cause_spending %></span>
			</div>
			<div class="form-sec-row-out">
				<% if @outstations.attachment.present? %>
				<label class="text"><%= t('labels.attachment')%></label>
				<% image = @outstations.attachment.url(:profile).split(".").last %>
				<% if image == "gif" || image == "jpg" || image == "jpeg" || image == "png" %>
				<span class="in-box"> <%= image_tag(@outstations.attachment.url(:profile),:title=>@outstations.attachment)%>
					<%else%>
					<% file = (@outstations.attachment).url.split("/").last %> <b>&nbsp;<%= link_to file, download_attachments_path(:id=>@outstations.id) if @outstations.attachment?  %></b> </span>
				<%end%>
				<%end%>
			</div>
		</div>
		<%end%>
		<h2 class="b-head"></h2>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#showhidetarget').hide();

		$('a#showhidetrigger').click(function() {
			$('#showhidetarget').toggle(400);
		});
		$('#showhidetargetstep3').hide();

		$('a#showhidetriggerstep3').click(function() {
			$('#showhidetargetstep3').toggle(400);
		});

		$('#showhidetargetstep4').hide();

		$('a#showhidetriggerstep4').click(function() {
			$('#showhidetargetstep4').toggle(400);
		});
		$('#showhidetargetstep5').hide();

		$('a#showhidetriggerstep5').click(function() {
			$('#showhidetargetstep5').toggle(400);
		});

	}); 
</script>
