<%= form_for(@user, :as => :user,  :url => update_transfer_users_path(:id => @department_id), :method=>:post) do |f| %>
  <%if !request.xhr?%>

    <div class="CenterNav">
      <h2 class="b-head"><%=t('left_nav.transfer_dept')%></h2>
      <div class="create-user">
        <h2 class="b-head"><%=t('labels.from')%></h2>
        <div class="form-sec-row">
          <label class="text"><%=t('left_nav.agency')%></label>
          <%#= label_tag :agency_id, raw("Agency"), :class=>"text" %>
          <span class="in-box">
            <%= select(:transfer_from,:agency,  Agency.active.collect {|agency| [agency.name, agency.id]},:prompt=>"Select Agency") %>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.department')%></label>
          <%#= label_tag :department_id, raw("Department"), :class=>"text"%>
          <span class="in-box">
            <%= select(:from_department,:id, Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select Department") %>
          </span>
        </div>
      </div>

      <div class="create-user">
        <div class="form-sec-row">
          <%=t('labels.list_of_existing_users')%> :<br/><br/>
          <%=hidden_field_tag :username %>
          <span class="in-box">
            <%= select(:transfer, :username, Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select User") %>
          </span>
        </div>

        <div id="div_approver_list">
        </div>

        <div id="div_dept_transfer" >
        </div>

      </div>


      <div id="div_admin_transfer">
      </div>


      <div id="value_new" style="display:none">
      <b><u><%= "The User you Selected is a Department Admin, So Please Assign other Department Admin for this department before transfering him." %></b></u>
        <div class="form-sec-row">
          Choose Department Admin :<br/><br/>
          <%=hidden_field_tag :username %>
          <span class="in-box">
            <%= select(:transfer, :username_id, Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select User") %>
          </span>
        </div>

    <%#*<div class="form-sec-row">%>
    <%#*Role :<br/><br/>%>
    <%#=hidden_field_tag :username %>
    <%#*<span class="in-box">%>
    <%#= select(:transfer, :role, Role.where("id != ?", 1).collect {|p| [ p.name, p.id ] },:prompt => "SELECT A ROLE") %>
    <%#*</span>%>
    <%#*</div>%>
      </div>

      <div class="create-user">
        <h2 class="b-head"><%=t('labels.to')%></h2>
        <div class="form-sec-row">
          <label class="text"><%=t('left_nav.agency')%></label>
          <%#= label_tag :agency_id, raw("Agency"), :class=>"text" %>
          <span class="in-box">
            <%= select(:transfer_to,:agency,  Agency.active.collect {|agency| [agency.name, agency.id]},:prompt=>"Select Agency") %>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.department')%></label>
          <%#= label_tag :department_id, raw("Department"), :class=>"text"%>
          <span class="in-box">
            <%= select(:to_department, :id, Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select Department") %>
          </span>
        </div>
      </div>


      <div class="form-sec-row">
        <label class="text">&nbsp;</label>
        <span class="in-box"><br/>
          <%= f.submit t('labels.transfer'), :class=>"btn2"%>
        </span>
      </div>
    </div>
  <%end%>
<%end%>
