<%= form_for(@user, :as => :user,  :url => transfer_department_transfer_department_index_path(:id => @department_id), :method=>:post) do |f| %>
  <%if !request.xhr?%>
    <div class="CenterNav">
      <h2 class="b-head"><%=t('left_nav.transfer_dept')%></h2>
      <div class="create-user"><%=t('labels.from_department')%><br/><br/>
        <%=hidden_field_tag :department_id, ""%>
        <div class="cu-c2">
          <%= select(:standard,:department_id, Department.order('name').all.collect{ |s| [truncate(s.name, :length => 50), s.id] },:selected => @department_id ,:prompt => "Select Department") %>
        </div>
      </div>
      <div class="create-user"><%=t('labels.list_of_existing_users')%> :<br/><br/>
        <%=hidden_field_tag :username %>
        <div class="cu-c2">
          <%= select(:standard,:username, User.order('username').all.collect{ |s| [truncate(s.username, :length => 50), s.id] },:selected => @username ,:prompt => "Select User") %>
        </div>
      </div>
      <div class="create-user"><%=t('labels.to_department')%>:<br/><br/>
        <div class="cu-c2">
          <%= select(:standard2,:department_id, Department.order('name').all.collect{ |s| [truncate(s.name, :length => 50), s.id] },:selected => @department_id ,:prompt => "Select Department") %>
        </div>
      </div>
    </div>
    <%= f.submit t('labels.transfer'), :class=>"btn2"%>
  <%end%>
<%end%>
