<%#if controller_name.to_s != 'sessions' && action_name.to_s != 'new'  %>
  
<%#end%>
<div class="clear"></div></div></div></div>
<!--BODY END-->
<%if controller_name.to_s == 'sessions' && action_name.to_s == 'new'  %>
  <div class="footer-in">
    <div class="land-footer-r">Copyright &copy; 2012 Melaka</div>
     <a href="http://www.openwavecomp.com/" title="Openwave Computing" target="_blank">Designed &amp; Developed by Openwave Computing.</a>
    <div class="land-footer-l">
      <ul>
        <li><a href="javascript:void(0);" title="Feedback">Feedback</a></li>
        <li>-</li>
        <li><a href="javascript:void(0);" title="Privacy">Privacy</a></li>
        <li>-</li>
        <li><a href="javascript:void(0);" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
        <li>-</li>
        <li><a href="javascript:void(0);" title="Help">Help</a></li>
        <%=render :partial=>"shared/cms_footer_page"%>
      </ul>
    </div>
  </div>
<%else%>
  <div id="Footer">
    <div class="fCity"></div>
    <div class="footer-in">
      <div class="land-footer-r">Copyright &copy; 2012 Melaka</div>
      <div class="land-footer-l">
        <ul>
          <li><%=link_to "Feedback",about_us_static_pages_path, :title=>"Feedback"%></li>
          <li>-</li>
          <li><%=link_to "Privacy",privacy_static_pages_path, :title=>"Privacy"%></li>
          <li>-</li>
          <li><%=link_to raw("Terms &amp; Conditions"),terms_and_conditions_static_pages_path, :title=>"Terms &amp; Conditions"%></li>
          <li>-</li>
          <li><%=link_to "Help",help_static_pages_path, :title=>"Help"%></li>
          <%=render :partial=>"shared/cms_footer_page"%>
        </ul>
      </div>
      Designed &amp; Developed by <a href="http://www.openwavecomp.com/" title="Openwave Computing" target="_blank">Openwave Computing.</a>
    </div>
    <div class="clear"></div>
  </div>
<%end%>

<div class="clear"></div>
<!--BODY END-->
</div>