<div class="LCNav-con">
  <div id="maincontent">
    <div id="linkblock" class="leftNav">
      <div id="control">
        <a id="controlbtn" class="open" href="javascript:void(0);" alt="Side Panel">Side Panel</a>
      </div>
      <div class="profInfo">
        <div class="profInfo-img box">
          <img src="../images/img_profile.jpg" alt="Image" width="120" height="120" />
          <p>Private</p>
        </div>
        <ul>
          <li><a href="javascript:void(0);" title="Daily Updates" class="selected"><img src="../images/icn_news.png" alt="Image" width="16" height="16" />Daily Updates</a></li>
          <li><a href="javascript:void(0);" title="Messages"><img src="../images/icn_email.png" alt="Image" width="16" height="16" /><span class="notifiNo">5</span>Messages</a></li>
          <li><a href="javascript:void(0);" title="Events"><img src="../images/icn_calendar.png" alt="Image" width="16" height="16" />Events</a></li>
          <li><a href="javascript:void(0);" title="Find User"><img src="../images/icn_user.png" alt="Image" width="16" height="16" />Find User</a></li>
          <li><a href="javascript:void(0);" title="Uploaded Files"><img src="../images/attach.png" alt="Image" width="16" height="16" />Uploaded Files</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <h2>Alerts</h2>
        <ul>
          <li><a href="javascript:void(0);" title="Admin Activation"><span class="notifiNo">3</span>Admin Activation</a></li>
          <li><a href="javascript:void(0);" title="User Activation">User Activation</a></li>
          <li><a href="javascript:void(0);" title="User Transfer Request">User Transfer Request</a></li>
          <li><a href="javascript:void(0);" title="Resource Booking ">Resource Booking</a></li>
          <li><a href="javascript:void(0);" title="Complaints"><span class="notifiNo">9</span>Complaints</a></li>
          <li><a href="javascript:void(0);" title="Resource Requisition ">Resource Requisition </a></li>
          <li><a href="javascript:void(0);" title="Issue Log">Issue Log </a></li>
          <li><a href="javascript:void(0);" title="Change Requests">Change Requests</a></li>
          <li><a href="javascript:void(0);" title="Cancelled Requests">Cancelled Requests</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <h2>Management Tools</h2>
        <ul>
          <li><a href="javascript:void(0);" title="Departments" class="" id="selected_department">Departments</a>
           <div id ="div_selected_department">
            <ul>
              <li>
                <%=link_to "Create New", new_department_path%>
              </li>
              <li>
                <%=link_to "List", departments_path%>
              </li>
            </ul>
              </div>
          </li>
          <li><a href="javascript:void(0);" title="Admin" class="" id="selected_admin">Admin</a>
          <div id ="div_selected_admin">
            <ul>
              <li>
                <%=link_to "Create New", new_department_path%>
              </li>
              <li>
                <%=link_to "List", departments_path%>
              </li>
            </ul>
            </div>
          </li>
          <li><a href="javascript:void(0);" title="Users" class="" id="selected_user">Users</a>
            <div id ="div_selected_user">
            <ul>
              <li>
                <%=link_to "Create New", new_department_user_path%>
              </li>
              <li>
                <%=link_to "List", users_path%>
              </li>
            </ul>
            </div>
          </li>
          <li><a href="javascript:void(0);" title="Vendors">Vendors</a></li>
          <li><a href="javascript:void(0);" title="Resources">Resources</a></li>
          <li><a href="javascript:void(0);" title="Content Management">Content Management</a></li>
          <li><a href="javascript:void(0);" title="Newsletter">Newsletter</a></li>
          <li><a href="javascript:void(0);" title="Email Template">Email Template</a></li>
          <li><a href="javascript:void(0);" title="Events">Events</a></li>
          <li><a href="javascript:void(0);" title="Advertisements">Advertisements</a></li>
          <li><a href="javascript:void(0);" title="Archives">Archives</a></li>
          <li><a href="javascript:void(0);" title="Site Analytics">Site Analytics</a></li>
        </ul>
      </div>
    </div>