<div class="LCNav-con">
  <div id="maincontent">
    <div id="linkblock" class="leftNav">
      <div id="control">
        <a id="controlbtn" class="open" href="javascript:void(0);" alt="Side Panel">Side Panel</a>
      </div>
      <div class="profInfo">
        <div class="profInfo-img box">
          <%if current_user%>
            <%= !current_user.avatar.nil? && !current_user.avatar.url(:thumb).nil? ? (image_tag current_user.avatar.url(:profile), :alt=>"Image", :width=>"120", :height=>"120") : (image_tag "img_profile.jpg", :alt=>"Image", :width=>"120", :height=>"120")  %>
          <%else%>
            <%=image_tag "img_event3.jpg", :alt=>"Image", :width=>"120", :height=>"120"%>
          <%end%>
          <p>Private</p>
        </div>
        <ul>
          <li><a href="javascript:void(0);" title="Daily Updates" class="selected"><img src="../images/icn_news.png" alt="Image" width="16" height="16" />Daily Updates</a></li>
          <li><a href="javascript:void(0);" title="Messages"><img src="../images/icn_email.png" alt="Image" width="16" height="16" /><span class="notifiNo">5</span>Messages</a></li>
          <li><a href="javascript:void(0);" title="Events"><img src="../images/icn_calendar.png" alt="Image" width="16" height="16" />Events</a></li>
          <li><a href="javascript:void(0);" title="Find User"><img src="../images/icn_user.png" alt="Image" width="16" height="16" />Find User</a></li>
          <%if current_user && current_user.role_id==1%>
            <li><a href="javascript:void(0);" title="Uploaded Files"><img src="../images/attach.png" alt="Image" width="16" height="16" />Uploaded Files</a></li>
          <%end%>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <h2>Alerts</h2>
        <ul>
          <%if current_user && current_user.role_id==1%>
            <li><a href="javascript:void(0);" title="Admin Activation"><span class="notifiNo">3</span>Admin Activation</a></li>
          <%end%>
          <%if current_user && (current_user.role_id==1 ||  current_user.role_id==2)%>
            <li><a href="javascript:void(0);" title="User Activation">User Activation</a></li>
            <li><a href="javascript:void(0);" title="User Transfer Request">User Transfer Request</a></li>
            <li><a href="javascript:void(0);" title="Resource Booking ">Resource Booking</a></li>
            <li><a href="javascript:void(0);" title="Complaints"><span class="notifiNo">9</span>Complaints</a></li>
            <li><a href="javascript:void(0);" title="Resource Requisition ">Resource Requisition </a></li>
            <li><a href="javascript:void(0);" title="Issue Log">Issue Log </a></li>
            <li><a href="javascript:void(0);" title="Change Requests">Change Requests</a></li>
            <li><a href="javascript:void(0);" title="Cancelled Requests">Canceled Requests</a></li>
          <%else%>
            <li><a href="javascript:void(0);" title="User Activation">Today's Task</a></li>
          <%end%>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <%if current_user && (current_user.role_id==1 || current_user.role_id==2)%>
          <h2>Management Tools</h2>
          <ul>
            <%if current_user && current_user.role_id==1%>
              <li>
                <%=link_to "Departments", "javascript:void(0);" , :title=>"departments" ,:class=>"", :id=>"lnk_department"%>
                <div id ="div_department" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_department_path%>
                    </li>
                    <li>
                      <%=link_to "List", departments_path%>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <%=link_to "Admin", "javascript:void(0);" , :title=>"Admin" ,:class=>"", :id=>"lnk_admin"%>
                <div id ="div_admin" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_department_path%>
                    </li>
                    <li>
                      <%=link_to "List", departments_path%>
                    </li>
                  </ul>
                </div>
              </li>
            <%end%>
            <%if current_user && (current_user.role_id==1 ||  current_user.role_id==2)%>
              <li>
                <%=link_to "User", "javascript:void(0);" , :title=>"User" ,:class=>"", :id=>"lnk_user"%>
                <div id ="div_user" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_department_user_path%>
                    </li>
                    <li>
                      <%=link_to "List", users_path%>
                    </li>
                    <%if current_user && current_user.role_id==1 %>
                      <li>
                        <%=link_to "Transfer Department", department_users_path%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              </li>
              <li><a href="javascript:void(0);" title="Vendors">Vendors</a></li>
              <li><a href="javascript:void(0);" title="Resources">Resources</a></li>
              <li>
                <%=link_to "Content Management", "javascript:void(0);" , :title=>"Content Managemnt" ,:class=>"", :id=>"lnk_cms"%>
                <div id ="div_cms" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_cms_page_path%>
                    </li>
                    <li>
                      <%=link_to "List", cms_pages_path%>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a href="javascript:void(0);" title="Newsletter">Newsletter</a></li>
              <li><a href="javascript:void(0);" title="Email Template">Email Template</a></li>
              <li><a href="javascript:void(0);" title="Events">Events</a></li>
              <li><a href="javascript:void(0);" title="Advertisements">Advertisements</a></li>
              <li><a href="javascript:void(0);" title="Archives">Archives</a></li>
              <li><a href="javascript:void(0);" title="Site Analytics">Site Analytics</a></li>
            <%end%>
          </ul>
        <%else%>
          <h2>Department Info</h2>
          <ul>
            <li><a href="javascript:void(0);" title="Department details">Department details</a></li>
            <li><a href="javascript:void(0);" title="View Vendors">View Vendors</a></li>
            <li><a href="javascript:void(0);" title="Resources">Resources</a></li>
            <li><a href="javascript:void(0);" title="View Resources">View Resources</a></li>
            <li><a href="javascript:void(0);" title="My Newsletter">My Newsletter</a></li>
            <li><a href="javascript:void(0);" title="Email Template">Email Template</a></li>
            <li><a href="javascript:void(0);" title="View Events">View Events</a></li>
          </ul>
        <%end%>
      </div>
    </div>