<div class="LCNav-con">
  <div id="maincontent">
    <div id="linkblock" class="leftNav">
      <div id="control">
        <a id="controlbtn" class="open" href="javascript:void(0);" alt="Side Panel">Side Panel</a>
      </div>
      <div class="profInfo">
        <div class="profInfo-img box">
          <%if current_user%>
            <%= !current_user.avatar.nil? && !current_user.avatar.url(:thumb).nil? ? (image_tag current_user.avatar.url(:profile), :alt=>"Image", :width=>"120", :height=>"120") : (image_tag "img_profile.jpg", :alt=>"Image", :width=>"120", :height=>"120")  %>
          <%else%>
            <%=image_tag "img_event3.jpg", :alt=>"Image", :width=>"120", :height=>"120"%>
          <%end%>
          <p>Private</p>
        </div>
        <ul>
          <li><a href="javascript:void(0);" title="Daily Updates" class="selected"><%=image_tag "icn_news.png" , :width=>"16", :height=>"16", :alt=>"Daily Updates"%>Daily Updates</a></li>
          <li><a href="javascript:void(0);" title="Messages"><%=image_tag "icn_email.png" , :width=>"16", :height=>"16", :alt=>"Email"%><span class="notifiNo">5</span>Messages</a></li>
          <li><a href="javascript:void(0);" title="Events"><%=image_tag "icn_calendar.png" , :width=>"16", :height=>"16", :alt=>"Calendar"%>Events</a></li>
          <li><a href="javascript:void(0);" title="Find User"><%=image_tag "icn_user.png" , :width=>"16", :height=>"16", :alt=>"Find User"%>Find User</a></li>
          <%if current_user && current_user.is_super_admin?%>
            <li><a href="javascript:void(0);" title="Uploaded Files"><%=image_tag "attach.png" , :width=>"16", :height=>"16", :alt=>"Upload Files"%>Uploaded Files</a></li>
          <%end%>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <h2>Alerts</h2>
        <ul>
          <%if current_user && current_user.is_super_admin?%>
            <li><a href="javascript:void(0);" title="Admin Activation"><span class="notifiNo">3</span>Admin Activation</a></li>
          <%end%>
          <%if current_user && (current_user.is_super_admin? ||  current_user.is_department_admin?)%>
            <li><a href="javascript:void(0);" title="User Activation">User Activation</a></li>
            <li><a href="javascript:void(0);" title="User Transfer Request">User Transfer Request</a></li>
            <li><a href="javascript:void(0);" title="Resource Booking ">Resource Booking</a></li>
            <li><a href="javascript:void(0);" title="Complaints"><span class="notifiNo">9</span>Complaints</a></li>
            <li><a href="javascript:void(0);" title="Resource Requisition ">Resource Requisition </a></li>
            <li><a href="javascript:void(0);" title="Issue Log">Issue Log </a></li>
            <li><a href="javascript:void(0);" title="Change Requests">Change Requests</a></li>
            <li><a href="javascript:void(0);" title="Cancelled Requests">Canceled Requests</a></li>
          <%else%>
            <li><a href="javascript:void(0);" title="User Activation">Today's Task</a></li>
          <%end%>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <%if current_user && (current_user.is_super_admin? ||  current_user.is_department_admin?)%>
          <h2>Management Tools</h2>
          <ul>
            <%if current_user && current_user.is_super_admin? %>
              <li>
                <%=link_to "Agencies", "javascript:void(0);" , :title=>"agencies" ,:class=>"", :id=>"lnk_agency"%>
                <div id ="div_agency" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_agency_path%>
                    </li>
                    <li>
                      <%=link_to "List", agencies_path%>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <%=link_to "Departments", "javascript:void(0);" , :title=>"departments" ,:class=>"", :id=>"lnk_department"%>
                <div id ="div_department" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_department_path%>
                    </li>
                    <li>
                      <%=link_to "List", departments_path%>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <%=link_to "Units", "javascript:void(0);" , :title=>"units" ,:class=>"", :id=>"lnk_unit"%>
                <div id ="div_unit" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_unit_path%>
                    </li>
                    <li>
                      <%=link_to "List", units_path%>
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <%=link_to "Admin", "javascript:void(0);" , :title=>"Admin" ,:class=>"", :id=>"lnk_admin"%>
                <div id ="div_admin" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_department_user_path%>
                    </li>
                    <li>
                      <%=link_to "List", users_path%>
                    </li>
                  </ul>
                </div>
              </li>
            <%end%>
            <%if current_user && (current_user.is_super_admin? ||  current_user.is_department_admin?)%>
              <li>
                <%=link_to "Users", "javascript:void(0);" , :title=>"User" ,:class=>"", :id=>"lnk_user"%>
                <div id ="div_user" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_department_user_path%>
                    </li>
                    <li>
                      <%=link_to "List", users_path %>
                    </li>
                    <%if current_user && current_user.is_super_admin? %>
                      <li>
                        <%=link_to "Transfer Department", transfer_users_path%>
                      </li>
                      <li>
                        <%=link_to "Assign Department", assign_department_users_path , :title=>"Assign Department" ,:class=>""%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              </li>
              <li><a href="javascript:void(0);" title="Vendors">Vendors</a></li>
              <li><a href="javascript:void(0);" title="Resources">Resources</a></li>
              <li>
                <%=link_to "Content Management", "javascript:void(0);" , :title=>"Content Managemnt" ,:class=>"", :id=>"lnk_cms"%>
                <div id ="div_cms" style="display:none;">
                  <ul>
                    <li>
                      <%=link_to "Create New", new_cms_page_path%>
                    </li>
                    <li>
                      <%=link_to "List", cms_pages_path%>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a href="javascript:void(0);" title="Newsletter">Newsletter</a></li>
              <li><a href="javascript:void(0);" title="Email Template">Email Template</a></li>
              <li><a href="javascript:void(0);" title="Events">Events</a></li>
              <li><a href="javascript:void(0);" title="Advertisements">Advertisements</a></li>
              <li><a href="javascript:void(0);" title="Archives">Archives</a></li>
              <li><a href="javascript:void(0);" title="Site Analytics">Site Analytics</a></li>
            <%end%>
          </ul>
        <%else%>
          <h2>Department Info</h2>
          <ul>
            <li><a href="javascript:void(0);" title="Department details">Department details</a></li>
            <li><a href="javascript:void(0);" title="View Vendors">View Vendors</a></li>
            <li><a href="javascript:void(0);" title="Resources">Resources</a></li>
            <li><a href="javascript:void(0);" title="View Resources">View Resources</a></li>
            <li><a href="javascript:void(0);" title="My Newsletter">My Newsletter</a></li>
            <li><a href="javascript:void(0);" title="Email Template">Email Template</a></li>
            <li><a href="javascript:void(0);" title="View Events">View Events</a></li>
          </ul>
        <%end%>
      </div>
    </div>
