<div class="landing-con">
  <div class="banner">
    <span class="cor-tl"></span>
    <span class="cor-tr"></span>
    <span class="cor-bl"></span>
    <span class="cor-br"></span>
    <div id="slides">
      <div class="slides_container">
        <div class="slide">
          <%=image_tag("../images/banner1.png", :alt=>"Image", :width=>"390", :height=>"340") %>
          <img src="images/banner1.png" alt="Image" width="390" height="340" />
        </div>
        <div class="slide">
          <%=image_tag("../images/banner2.png", :alt=>"Image", :width=>"390", :height=>"340") %>
        </div>
        <div class="slide">
          <%=image_tag("../images/banner3.png", :alt=>"Image", :width=>"390", :height=>"340") %>

        </div>
        <div class="slide">
          <%=image_tag("../images/banner4.png", :alt=>"Image", :width=>"390", :height=>"340") %>

        </div>
        <div class="slide">
          <%=image_tag("../images/banner5.png", :alt=>"Image", :width=>"390", :height=>"340") %>
        </div>
      </div>
    </div>
  </div>
  <div class="login-ban">
    <div class="ban-tr">
      <div class="ban-tl"></div>
      <div class="ban-tc"></div>
    </div>
    <div class="ban-m">
      <h1>Welcome to Melaka Intranet Portal</h1>
      <h3>" The Corridor for Effective Communication "</h3>
      <div class="footer-land">
        <p class="formRow t-left">
          <label for="uname" class="ui-watermark-label-pass">User Name</label>
          <span class="shadow-input"><input name="uname" id="uname" type="text" value="" class="pass" /> </span>
        </p>
        <p class="formRow t-left">
          <label for="pass" class="ui-watermark-label-pass">Password</label>
          <span class="shadow-input"><input name="pass" id="pass" type="password" value="" class="pass" /> </span>
        </p>
        <input type="submit" class="btn1" value="Log In" title="Log In" name="login">
        <div class="clear"></div>
        <p class="loggedin">
          <input type="checkbox" id="logged" />
          <label for="logged">Keep me logged in</label>
        </p>
        <p class="forgot-row"><a href="#" title="Forgot your password?">Forgot your password?</a></p>
      </div>
    </div>

  </div>
</div>
<div class="clear"></div>