<%if !request.xhr?%>
  <div class="CenterNav">
    <%if flash[:notice]%>
      <div class="success">
        <%=flash[:notice]%>
      </div>
    <%end%>
    <h2 class="b-head"><%=t('labels.manage_agency')%></h2>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <div class="create-user">
      <div class="cu-c1"><a href="/departments/new" title="Create Department"><img src="../images/add_user.jpg" width="17" height="16" alt="img" /><%=t('labels.create_department')%></a></div>
      <div class="cu-c2"><%=t('labels.select_agency')%>:
        <%= select("agency","list_depart",  Agency.active.collect {|role| [role.name, role.id]},:prompt=>t('labels.select_an_agency')) %>
      </div>
    </div>
    <div class="manage-user box">
    <%end%>
    <div id="div_ajax">
      <% if !@departments.nil? %>
        <%@departments.each do |department|%>
          <div class="manage-user-row box">
            <div class="mu-c1">
            </div>
            <div class="mu-c2">
              <p class="head1"><%= department.name%></p>
            </div>
            <div class="mu-c3">
              <%= link_to image_tag("../images/edit.jpg",:width=>"14",:height=>"14",:alt=>"img") +t('labels.edit'), :action=>'edit', :id=>department.id.to_i%>
              <%if department.is_active %>
                <%= link_to image_tag("../images/deactive.jpg",:width=>"14",:height=>"14",:alt=>"img") +t('labels.deactivate'), update_status_departments_path(:id=>department.id,:status=>"Deactivate") , :confirm => t('labels.dept_deact_confirm') , :method=>:post%>
              <%else%>
                <%= link_to  image_tag("../images/active.jpg",:width=>"14",:height=>"14",:alt=>"img") +t('labels.activate'),  update_status_departments_path(:id=>department.id,:status=>"Activate"), :confirm => t('labels.dept_act_confirm') , :method=>:post%>
              <%end%>
    <%#= link_to image_tag("../images/delete.jpg",:width=>"14",:height=>"14",:alt=>"img") +"Delete", department_path(department), :method=>:delete, :confirm => "Are you sure want to delete?" %>
            </div>
          </div>

        <%end%>
        <div class="manage-user-rows box"><br/><br/>
          <%= paginate @departments %>
        </div>
        <div></div>
      <%else%>
        <%=t('labels.select_dept_from_list') %>
      <%end%>
    </div>
  </div>
</div>
<%flash[:notice]=nil%>
