<%= form_for(@facility) do |f| %>
  <%= hidden_field_tag :resource_type, ("transport") %>
  <div class="form-sec-row">
    <label class="text"><%=t("left_nav.sub_category_name")%><span style=color:red>*</span></label>
    <span class="in-box">
      <%=  select("transport","sub_category_id",SubCategory.where(" category_id = ?", 7).collect {|p| [ p.name, p.id ] },:prompt => t("labels.select_sub_category")) %>
    </span>
  </div>
  <div id="sub_list_facility">
    <div class="form-sec-row">
      <%= label_tag :resource_id, t("labels.resource_ex_no"), :class=>"text"%>
      <span class="in-box">
        <%= select("transport","resource_id", Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => t("labels.select_res")) %>
      </span>
    </div>
  </div>
  <div class="form-sec-row">
    <label class="text"><%= t("labels.name") %><span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_field :name, :size => 10%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text"><%= t("labels.total_quanty") %><span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_field :total_qty, :size => 10%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text"><%= t("labels.is_active") %></label>
    <span class="in-box">
      <%= f.check_box :is_active %>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">&nbsp;</label>
    <span class="in-box">
      <%= f.submit :value=>'Save', :class=>"btn2", :value=>@facility.new_record? ? t("labels.create")  : t("labels.update")%>
    </span>
  </div>
<%end%>