<%if !request.xhr?%>
  <div class="CenterNav">
    <h2 class="b-head"><%=t('labels.list_of_events')%></h2>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <div class="create-user">
      <% if current_user.is_super_admin? %>
        <div class="cu-c1"><a href="/events/new" title=<%=t('labels.create_event')%>><img src="../images/add_user.jpg" width="17" height="16" alt="img" /> <%=t('labels.create_event')%></a></div>
      <%end%>
    </div>
  <%end%>
  <div id="div_ajax" >
    <%if @events && !@events.empty?%>
      <%@events.each do |event|%>
        <div class="manage-user box">
          <div class="manage-user-row box">
            <div class="mu-c1">
            </div>
            <div class="mu-c2">
              <p class="head1"><%=event.name%></p>
            </div>
            <div class="mu-c3">
              <%= link_to image_tag("../images/edit.jpg",:width=>"14",:height=>"14",:alt=>"img") +t('labels.edit'), :action=>'edit', :id=>event.id.to_i%>
              <%if event.is_active %>
                <%= link_to image_tag("../images/deactive.jpg",:width=>"14",:height=>"14",:alt=>"img") +t('labels.deactivate'), update_status_events_path(:id=>event.id, :status=>"Deactivate"), :confirm => t('labels.event_deact_confirm'), :method=>:post, :title=>t('labels.deactivate') %>
              <%else%>
                <%= link_to  image_tag("../images/active.jpg",:width=>"14",:height=>"14",:alt=>"img") +t('labels.activate'),  update_status_events_path(:id=>event.id,:status=>"Activate"), :confirm => t('labels.event_act_confirm'), :method=>:post, :title=>t('labels.activate')%>
              <%end%>
            </div>
          </div>
        </div>
      <%end%><div class="manage-user-rows box"><br/><br/>
        <%= paginate @events %></div>
      <%else%>
      <%= t('labels.event_not_available')%>
    <%end%>

  </div>
</div>
