<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <h2>Event Details</h2><br/>
    <div class="form-sec-row-out">
      <label class="text">Event Name</label>
      <span class="in-box">
        <%= @events.name %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text">From Date</label>
      <span class="in-box">
        <%= @events.from_date.to_datetime.strftime("%a %d %b %Y %I:%M %p") if @events.from_date %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text">To Date</label>
      <span class="in-box">
        <%= @events.to_date.to_datetime.strftime("%a %d %b %Y %I:%M %p") if @events.to_date %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text">Venue</label>
      <span class="in-box">
        <%= @events.venue %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text">Organizer</label>
      <span class="in-box">
        <%= @events.organizer %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text">Description</label>
      <span class="in-box">
        <%= @events.description.html_safe %></span>
    </div>
   
    <div class="form-sec-row-out">
      <% if @events.event_attachment.present? %>
        <label class="text">Event Banner</label>
        <% image = @events.event_attachment.url(:profile).split(".").last %>
        <% if image == "gif" || image == "jpg" || image == "jpeg" || image == "png" %>
          <span class="in-box">
            <%=image_tag(@events.event_attachment.url(:profile),:title=>@events.event_attachment)%>

          </span>
        <%end%>
      <%end%>
    </div>
    <div class="form-sec-row-out">
      <label class="text">Is Visible</label>
      <span class="in-box">
        <% if @events.is_active == true %>
          Yes <% else %>
          No
        <%end%></span>
    </div>
    <h2 class="b-head"></h2><br/>
  </div>
</div>