<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <h2><%=t('labels.event_detail')%></h2><br/>
    <div class="form-sec-row-out">
      <label class="text"><%=t('labels.event_name')%></label>
      <span class="in-box">
        <%= @events.name %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text"><%=t('labels.from_date')%></label>
      <span class="in-box">
        <%= @events.from_date.to_datetime.strftime("%a %d %b %Y %I:%M %p")  %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text"><%=t('labels.to_date')%></label>
      <span class="in-box">
        <%= @events.to_date.to_datetime.strftime("%a %d %b %Y %I:%M %p")  %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text"><%=t('labels.venue')%></label>
      <span class="in-box">
        <%= @events.venue %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text"><%=t('labels.Organizer')%></label>
      <span class="in-box">
        <%= @events.organizer %></span>
    </div>
    <div class="form-sec-row-out">
      <label class="text"><%=t('labels.description')%></label>
      <span class="in-box">
        <%= @events.description.html_safe %></span>
    </div>

    <div class="form-sec-row-out">
      <% if @events.event_attachment.present? %>
        <label class="text"><%=t('labels.event_banner')%></label>
        <% image = @events.event_attachment.url(:profile).split(".").last %>
        <% if image == "gif" || image == "jpg" || image == "jpeg" || image == "png" %>
          <span class="in-box">
            <%=image_tag(@events.event_attachment.url(:profile),:title=>@events.event_attachment)%>
          </span>
        <%end%>
      <%end%>
    </div>
    <div class="form-sec-row-out">
      <label class="text"><%=t('labels.is_visible')%></label>
      <span class="in-box">
        <% if @events.is_active == true %>
          <%=t('labels.is_visible_yes')%> <% else %>
          <%=t('labels.is_visible_no')%>
        <%end%></span>
    </div>
    <h2 class="b-head"></h2><br/>
  </div>
</div>
