<%= form_for(@resource) do |f| %>
  <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="form-sec">

    <div class="form-sec-row">
      <label class="text">Resource Type <span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.radio_button :resource_type, 'ict'%> <%= f.label :resource_type, "ICT" %>
        <%= f.radio_button :resource_type, 'transport'%> <%= f.label :resource_type, "Transport" %>
        <%= f.radio_button :resource_type, 'room_booking'%> <%= f.label :resource_type, "Room Booking" %>
        <%= f.radio_button :resource_type, 'others' ,:checked=>true%> <%= f.label :resource_type, "Others" %>
      </span>
    </div>

    <div id="show_room" style="display:none;" >
      <%=render :partial=>'resources/resource_room'%>
    </div>

    <div id="show_transport" style="display:none;">
      <%=render :partial=>'resources/resource_transport'%>
    </div>

    <div id="show_others">
      <%=render :partial=>'resources/resource_others'%>
    </div>


  </div>

<%end%>
