<%= form_for(@resource) do |f| %>
  <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="form-sec">
    <div class="form-sec-row">
      <%= hidden_field_tag  :created_by, (current_user.id)%>
      <label class="text">Resource Category</label>
      <span class="in-box">
       <%= f.select(:category_id,  Category.active.collect {|category| [category.name, category.id]},:prompt=>"SELECT A CATEGORY") %>
      </span>
    </div>
      <div class="form-sec-row">
      <label class="text">Resource Sub Category</label>
      <span class="in-box">
       <%= f.select(:sub_category_id,  SubCategory.active.collect {|category| [category.name, category.id]},:prompt=>"SELECT A SUB CATEGORY") %>
      </span>
    </div>
     <div class="form-sec-row">
      <label class="text">Resource Type</label>
      <span class="in-box">
       <%= f.radio_button :resource_type, 'ict' %> <%= f.label :resource_type, "ICT" %>
        <%= f.radio_button :resource_type, 'transport' %> <%= f.label :resource_type, "Transport" %>
        <%= f.radio_button :resource_type, 'room_booking' %> <%= f.label :resource_type, "Room Booking" %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Name</label>
      <span class="in-box">
        <%= f.text_field :name%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Description</label>
      <span class="in-box">
        <%= f.text_field :description%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Is Returnable</label>
      <span class="in-box">
        <%= f.check_box :is_returnable%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Avail facility as a resource</label>
      <span class="in-box">
        <%= f.check_box :is_facilty_avail%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= f.submit :class=>"btn2"%>
      </span>
    </div>
  </div>

<%end%>
