<%= form_for(@store) do |f| %>
  <div class="form-sec-row">
    <label class="text"><%=t('left_nav.agency')%><span style=color:red>*</span></label>
    <span class="in-box">
      <%= select("transport","agency_id",  Agency.active.collect {|agency| [agency.name, agency.id]},:prompt=>"Select Agency") %>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text"><%=t('labels.select_sub_category')%><span style=color:red>*</span></label>
    <span class="in-box">
      <%=select("transport_agency","sub_category_id", options_from_collection_for_select(SubCategory.where("category_id = 7").active.all, 'id','name'),{:prompt=>"Select Sub Category"})%>
    </span>
  </div>
  <%= hidden_field_tag :resource_type, ("Transport") %>
  <div class="form-sec-row">
    <label class="text"><%=t('left_nav.resource')%><span style=color:red>*</span></label>
    <span class="in-box">
      <%= select("transport_agency","resource_id", Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select Resource") %>
    </span>
  </div>
  <!--<div class="form-sec-row">
    <label class="text"><%=t('left_nav.driver')%><span style=color:red>*</span></label>
    <span class="in-box">
      <%= select("transport","driver_id",  Driver.active.collect {|driver| [driver.name, driver.id]},:prompt=>"Select Driver") %>
    </span>
  </div>-->
  <div class="form-sec-row">
    <label class="text">&nbsp;</label>
    <span class="in-box">
      <%= f.submit :class=>"btn2", :id=>"transport_store_submit", :value=>@store.new_record? ? t('labels.create') : t('labels.update')%>
    </span>
  </div>
<%end%>
