<%= form_for(@store) do |f| %>
  <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="form-sec">
    <div class="form-sec-row">
      <%= label_tag :agency_id, raw("Agency"), :class=>"text" %>
      <span class="in-box">
        <%= select(:transfer_from,:agency,  Agency.active.collect {|agency| [agency.name, agency.id]},:selected=>@user,:prompt=>"SELECT AN AGENCY") %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label_tag :department_id, raw("Department"), :class=>"text"%>
      <span class="in-box">
        <%= select(:from_department,:id, Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "SELECT A DEPARTMENT") %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label_tag :category_id, raw("Category"), :class=>"text"%>
      <span class="in-box">
        <%= select(:categories_department,:id, CategoriesDepartment.where("category_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "SELECT A CATEGORY") %>
      </span>
    </div>
    <div class="form-sec-row">
      <%= label_tag :sub_category, raw("Sub Category"), :class=>"text"%>
      <span class="in-box">
        <%= select(:sub_categories,:id, SubCategory.where("category_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "SELECT A SUB CATEGORY") %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Resource </label>
      <span class="in-box">
        <%= select("resource","resource_id",  Resource.active.collect {|category| [category.name, category.id]},:prompt=>"SELECT A RESOURCE") %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Quantity</label>
      <span class="in-box">
        <%= f.text_field :quantity%>
      </span>
    </div>
  
<div class="dynamic-form">
  <div align="center"><a href="#" id="add">Add</a> | <a href="#" id="remove">Remove</a> | <a href="#" id="reset">Reset</a></div>
<%#*<form>%>
<div class="inputs"><div class="mu-c1"></div>
<div class="mu-c2"><input type="text" name=text1  size ="30" class="field"/></div>
</div>
<%#*<input name="submit" type="button" class="submit" value="Submit"/>%>
<%#*</form>%>
</div>
    <div class="form-sec-row">
      <label class="text">UOM</label>
      <span class="in-box">
        <%= f.text_field :uom%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= f.submit raw('Save'), :class=>"btn2"%>
      </span>
    </div>
  </div>

<%end%>
