<script type="text/javascript">
  $().ready(function(){
<%if @store.resource_type.nil? || @store.resource_type=="Others"%>
      $("#agency_store_resource_type_others").click();
<%elsif @store.resource_type=="ICT"%>
      $("#agency_store_resource_type_ict").click();
<%elsif @store.resource_type=="Transport"%>
      $("#agency_store_resource_type_transport").click();
<%elsif @store.resource_type=="Room"%>
      $("#agency_store_resource_type_room_booking").click();
<%end%>
  })
</script>

<%= form_for(@store) do |f| %>
  <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="form-sec">
    <div class="form-sec-row">
      <label class="text"><%=t('labels.resource_type')%><span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.radio_button :resource_type, 'ict', :checked=>@store.resource_type=='ICT' ? true : false%> <%= f.label :resource_type, "ICT" %>
        <%= f.radio_button :resource_type, 'transport', :checked=>@store.resource_type=='Transport' ? true : false%> <%= f.label :resource_type, t("labels.transport") %>
        <%= f.radio_button :resource_type, 'room_booking', :checked=>@store.resource_type=='Room' ? true : false%> <%= f.label :resource_type, t("left_nav.room_booking") %>
        <%= f.radio_button :resource_type, 'others', :checked=>@store.resource_type=='Others' || @store.resource_type.nil? ? true : false%> <%= f.label :resource_type, t("labels.others") %>
      </span>
    </div>
    <div id="agency_room" style="display:none;">
      <%=render :partial=>'agency_stores/agency_room'%>
    </div>
    <div id="agency_transport" style="display:none;">
      <%=render :partial=>'agency_stores/agency_transport'%>
    </div>
    <div id="agency_others">
      <%=render :partial=>'agency_stores/agency_others'%>
    </div>
    <div id="agency_ict" style="display:none;">
      <%=render :partial=>'agency_stores/agency_ict'%>
    </div>
  </div>
<%end%>
