<%= form_for(@resource_booking, :html => { :method => :post, :multipart => true }) do |f| %>
  <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="CenterNav">
    <div class="form-sec">
      <%= hidden_field_tag :user_id, (current_user.id) %>
      <%if !current_user.is_super_admin?%>
        <%= hidden_field_tag :department_id, (current_department) %>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.agency_name')%><span style=color:red>*</span></label>
          <span class="in-box">
            <%= current_user.departments.first.agency.name.upcase %>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.department_name')%><span style=color:red>*</span></label>
          <span class="in-box">
            <% dept = Department.find_by_id(@current_department) %>
            <%= dept.name %>
          </span>
        </div>
      <%end%>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.select_category')%> <span style=color:red>*</span></label>
        <span class="in-box">
          <%if !@resource_booking.new_record?%>
            <%resource=@resource if @resource && !@resource.blank?%>
            <%=select("other_booking_category","id", options_from_collection_for_select(Category.where("id != 6 and id != 7 and id !=8").active.all, 'id','name',category.id),{:prompt=>"Select Category"})%>
          <%elsif current_user.is_super_admin? %>
            <%=select("other_booking_category","id", options_from_collection_for_select(Category.where("id != 6 and id != 7 and id !=8").active.all, 'id','name'),{:prompt=>"Select Category"})%>
          <%else%>
            <% @category = Category.find_by_sql "SELECT * FROM categories_departments INNER JOIN categories ON categories.id = categories_departments.category_id WHERE categories_departments.category_id != 6 AND categories_departments.category_id != 7 AND categories_departments.category_id != 8 AND categories_departments.department_id = #{@current_department}" %>
            <%=select("other_booking_category","id", @category.collect {|category| [category.name, category.id]}, {:prompt=>"Select Category"})%>
          <%end%>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.select_sub_category_name')%>  <span style=color:red>*</span></label>
        <span class="in-box">
          <%= select("other_booking_sub_category","id",  SubCategory.active.collect {|category| [category.name, category.id]},:prompt=>"Select Sub Category") %>
        </span>
      </div>

      <div id="booked_or_available" style="display:block">
        <% if current_user.is_super_admin? %>
          <div class="form-sec-row">
            <label class="text"><%=t('labels.type')%><span style=color:red>*</span></label>
            <span class="in-box">
              <%= radio_button_tag 'available', 'one_way', :checked=>true %><%= label t('labels.available'),t('labels.available') %>&nbsp;&nbsp;
              <%= radio_button_tag 'available', 'two_way'  %><%= label t('labels.booked'),t('labels.already_booked') %>
            </span>
          </div>
        <%end%>

        <div id="available_resource" class="form-sec-row" >
          <div class="form-sec-row">
            <label class="text"><%=t('labels.resource')%><span style=color:red>*</span></label>
            <span class="in-box">
              <%= f.select(:resource_id, Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select Resource") %>
            </span>
          </div>
        </div>
      </div>
      
      <div id="list_facility_for_others">
      	
      </div>

      <div id="booked_resource" style="display:none">
        <div class="form-sec-row">
          <label class="text"><%=t('labels.resource')%><span style=color:red>*</span></label>
          <span class="in-box">
            <%= select("other","type_id_booked", Department.active.where("agency_id =?", params[:agency]).collect {|p| [ p.name, p.id ] },:prompt => "Select Resource") %>
          </span>
        </div>
      </div>
  <%#if !current_user.is_super_admin?%>
  <%#*<div class="form-sec-row">%>
  <%#*<label class="text">Select Department <span style=color:red>*</span></label>%>
  <%#*<span class="in-box">%>
  <%#departments=current_user.departments.where(:deleted => false)%>
  <%#=f.select(:department_id,  departments.collect {|category| [category.name, category.id]},:prompt=>"SELECT A DEPARTMENT") %>
  <%#*</span>%>
  <%#*</div>%>
  <%#end%>
  <%#*<div class="form-sec-row">%>
  <%#*<label class="text">Name <span style=color:red>*</span></label>%>
  <%#*<span class="in-box">%>
  <%#= f.text_field :name%>
  <%#*</span>%>
  <%#*</div>%>
      <div class="form-sec-row">
        <%= f.label :attachment,t('labels.upload_file'), :class=>"text"%>
        <span class="in-box">
          <%= f.file_field :attachment%>
          <%= f.hidden_field :attachment_cache %>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.from_date')%> <span style=color:red>*</span></label>
        <span class="in-box">
          <%=f.text_field :requested_from_date ,:value=>@resource_booking && @resource_booking.requested_from_date!=nil ? @resource_booking.requested_from_date.strftime("%d-%m-%Y") : nil ,:readonly=>true%>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.to_date')%> <span style=color:red>*</span></label>
        <span class="in-box">
          <%=f.text_field :requested_to_date,:value=>@resource_booking && @resource_booking.requested_to_date!=nil ? @resource_booking.requested_to_date.strftime("%d-%m-%Y") : nil ,:readonly=>true%>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.quantity')%><span style=color:red>*</span></label>
        <span class="in-box">
          <%= f.text_field :quantity, :class=>"icnumber"%>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.purpose')%> <span style=color:red>*</span></label>
        <span class="in-box">
          <%= f.text_field :purpose%>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text"><%=t('labels.remarks')%></label>
        <span class="in-box">
          <%= f.text_field :description%>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text">&nbsp;</label>
        <span class="in-box">
          <%= f.submit :value=>@resource_booking.new_record? ? t('labels.create') : t('labels.update'), :class=>"btn2"%>
        </span>
      </div>
    </div>
  </div>
<%end%>


<script>
  $("#available_one_way").live('change',function(){
    $("#booked_resource").hide();
    $("#available_resource").show();
  });

  $("#available_two_way").live('change',function(){
    $("#available_resource").hide();
    $("#booked_resource").show();
  });

  $("#other_booking_sub_category_id").live("change", function(){
    if($("#other_booking_sub_category_id").val() != ""){

      $.get("/resource_bookings/get_booked",{
        sub_category_id : $("#other_booking_sub_category_id").val()
      },
      function(data){
        if (data['booked']!=null)
        {
          $("#other_type_id_booked").find('option').remove().end()
          $("#other_type_id_booked").append($("<option></option>").attr("value","").text("Select Resource"));
          for(var i=0; i<data['booked'].length;i++)
          {
            $("#other_type_id_booked").append($("<option></option>").attr("value",data['booked'][i].resource.resource_id).text(data['booked'][i].resource.resource_no));
            $("#other_type_id_booked").show();
          }
        }
        $("#booked_or_available").show();
      })
    }
  });
</script>