<%= form_for(@resource_booking, :url=>update_resource_booking_resource_bookings_path) do |f| %>
  <div class="clearfix">&nbsp;</div>
  <div class="CenterNav">
    <% if current_user.is_department_admin?  %>
      <h2 class="b-head">Resource Approval</h2>
    <%else%>
      <h2 class="b-head">Resource Process</h2>
    <%end%>
    <%= hidden_field_tag :resource_book_id,(@resource_booking.id)  %>
    <%= hidden_field_tag :resource_id,(@resource_booking.resource_id)  %>
    <td><font color='#369'><b><u><%=t('labels.user_details')%>:-</u></b></font></td>
    <div class="form-sec">
      <% if session[:current_role] != DISP_USER_ROLE_SUPER_ADMIN %>
        <% if @agency.present? %>
          <div class="form-sec-row">
            <label class="text"><b><%=t('labels.agency_name')%></b></label>
            <span class="in-box">&nbsp;<%= @agency.name  %></span>
          </div>
        <%end%>
        <% if @dept.present? %>
          <div class="form-sec-row">
            <label class="text"><b><%=t('labels.department_name')%></b></label>
            <span class="in-box">&nbsp;<%= @dept.name  %></span>
          </div>
        <%end%>
      <%end%>
      <% if @manager.present? %>
        <div class="form-sec-row">
          <label class="text"><b><%=t('labels.res_manager')%></b></label>
          <span class="in-box">&nbsp;<%= @manager.first_name  %></span>
        </div>
      <%end%>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.first_name')%></b></label>
        <span class="in-box">&nbsp;<%= @user.first_name %></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.last_name')%></b></label>
        <span class="in-box">&nbsp;<%= @user.last_name %></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.ic_no')%></b></label>
        <span class="in-box">&nbsp;<%= @user.ic_number %></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.email')%></b></label>
        <span class="in-box">&nbsp;<%= @user.email %></span>
      </div>

      <tr>
      <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
      </tr>

      <div class="form-sec-row">
        <td><font color="#369"><b><u><%=t('labels.res_det')%>:-</u></b></font></td>
        <td></td>
      </div>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.ticket_no')%></b></label>
        <span class="in-box"><td style="color:#BB0802;">&nbsp;<%=@resource_booking.id%>/<%=Time.now.year%></td></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.date_of_app')%></b></label>
        <span class="in-box">&nbsp;<%=@resource_booking.created_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.resource_name')%></b></label>
        <span class="in-box">&nbsp;<%=@resource.name%></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.from_date')%></b></label>
        <span class="in-box">&nbsp;<%=@resource_booking.requested_from_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%></span>
      </div>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.to_date')%></b></label>
        <span class="in-box">&nbsp;<%=@resource_booking.requested_to_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%></span>
      </div>
      <% if @resource_booking.status == "Returned" %>
        <div class="form-sec-row">
          <label class="text"><b><%=t('labels.ret_date')%></b></label>
          <span class="in-box">&nbsp;<%=@resource_booking.updated_at.localtime.strftime("%d-%m-%Y %H:%M %p")%></span>
        </div>
      <%end%>
      <div class="form-sec-row">
        <label class="text"><b><%=t('labels.purpose')%></b></label>
        <span class="in-box">&nbsp;<%=@resource_booking.purpose%></span>
      </div>
      <% if @resource_booking.attachment.present? %>
        <div class="form-sec-row">
          <label class="text"><b><%=t('labels.upload_file')%></b></label>
          <% image = @resource_booking.attachment.url(:profile).split(".").last %>
          <% if image == "gif" || image == "jpg" || image == "jpeg" || image == "png" %>
            <span class="in-box">
              <%=image_tag(@resource_booking.attachment.url(:profile),:title=>@resource_booking.attachment)%>
            <%else%>
              <% file = (@resource_booking.attachment).url(:profile).split("/").last %>
              <%= link_to file, download_attachments_resource_bookings_path(:id=>@resource_booking.id) if @resource_booking.attachment?  %>
            </span>
          <%end%>
        </div>
      <%end%>
      <% if @resource_booking.description.present? %>
        <div class="form-sec-row">
          <label class="text"><b><%=t('labels.remarks')%></b></label>
          <span class="in-box">&nbsp;<%=  @resource_booking.description%> </span>
        </div>
      <%end%>

      <% if current_user.is_resource_manager? && @resource_booking.status == "Approved" %>
        <div class="form-sec-row">
          <label class="text"><%=t('labels.change')%></label>
          <span class="in-box">
            <%= f.select("resource_id",  Resource.where(["sub_category_id = ?",@resource_booking.sub_category_id ]).active.collect {|category| [category.resource_no, category.id]}, {:prompt => 'Select Person'})%>
          </span>
        </div>
      <%end%>
      <div class="form-sec-row">
        <div id="dis_col" style="display:none;"><label class="text"><%=t('labels.details')%></label></div>
        <div id="details_resource_id" style="display:none;">
        </div>
      </div>
      <% if @facility.present? %>

        <tr>
        <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
        </tr>

        <div class="form-sec-row">
          <td><font color="#369"><b><u><%=t('labels.facility_details')%>:-</u></b></font></td>
          <td></td>
        </div>
        <% @facility.each do |facility| %>
          <div class="form-sec-row">
            <label class="text"><b> <%=t('labels.facility_name')%></b></label>
            <span class="in-box">&nbsp;<%=facility.name%> </span>
          </div>
          <div class="form-sec-row">
            <label class="text"><b><%=t('labels.quantity')%></b></label>
            <span class="in-box">&nbsp;<%=facility.total_qty%></span>
          </div>
        <%end%>
      <%end%>
    </div>
    <div class="form-sec-row">
      <td><font color="#369"><b><u><%=t('labels.status_details')%>:-</u></b></font></td>
      <td></td>
    </div>
    <div class="form-sec-row">
      <label class="text"> <%= f.label :location,t('labels.status'), :class=>"text"%></label>
      <% if @approve.present?  && @approve.user_id == current_user.id %>
        <span class="in-box">
          <%select_options=["Approved","Declined"]%>
          <%=f.select(:status, options_for_select(select_options))%>
        </span>
      <% elsif current_user.is_department_admin? && !@approve.present?%>
        <span class="in-box">
          <%select_options=["Approved","Declined"]%>
          <%=f.select(:status, options_for_select(select_options))%>
        </span>
      <%elsif current_user.is_resource_manager? && @resource_booking.user_returned_status?%>
        <span class="in-box">
          <%select_options=["Returned"]%>
          <%=f.select(:status, options_for_select(select_options))%>
        </span>
      <%else%>
        <span class="in-box">
          <%select_options=["Processed", "Declined"]%>
          <%=f.select(:status, options_for_select(select_options))%>
        </span>
      <%end%>
    </div>
    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= link_to t('labels.back'), :back, :class=>"btn1 mr2"%>
        <% if @resource_booking.status == "Processed" && @resource_booking.user_returned_status? %>
          <%= f.submit t('labels.acknowledge'), :class=>"btn2"%>
        <%else%>
          <%= f.submit t('labels.submit'), :class=>"btn2"%>
        <%end%>
      </span>
    </div>
  </div>
<%end%>