<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <h2 class="b-head">Resource Booking <%=@resource_booking.name%></h2>
    <div class="clearfix">&nbsp;</div>

    <div class="form-sec-row">
      <label class="text">Category</label>
      <span class="in-box">
        <%=@resource.category.name  %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Sub Category</label>
      <span class="in-box">
        <%=@resource.sub_category.name  %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Resource</label>
      <span class="in-box">
        <%=@resource_booking.resource.name  %>
      </span>
    </div>
    <%if @resource_booking.department!=nil%>
      <div class="form-sec-row">
        <label class="text">Department</label>
        <span class="in-box">
          <%=@resource_booking.department.name %>
        </span>
      </div>
    <%end%>
    <div class="form-sec-row">
      <label class="text">Purpose</label>
      <span class="in-box">
        <%=@resource_booking.purpose  %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Description</label>
      <span class="in-box">
        <%=@resource_booking.description  %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Quantity Requested</label>
      <span class="in-box">
        <%=@resource_booking.quantity  %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Requested From Date</label>
      <span class="in-box">
        <%=@resource_booking.requested_from_date.strftime("%d-%m-%Y") %>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Requested To Date</label>
      <span class="in-box">
        <%=@resource_booking.requested_to_date.strftime("%d-%m-%Y")  %>
      </span>
    </div>

  </div>
</div>